
svg {}
text { user-select: none; }

#menubar tspan tspan { text-decoration: underline; }

.dark-m text { fill: #fff !important; }
.dark-m #t-txt { fill: #bcbebe !important; }

.dark-m #t-bg { fill: #404242 !important; stroke: #787979 !important; }
.dark-m #w-bg, .dark-m #menu-bg { fill: #313333 !important; }
.dark-m #sb-bg, .dark-m #tabbar .bg, .dark-m #main-bg { fill: #2f3131 !important; }

.dark-m #ss-bg, .dark-m #tb-corner .bg { fill: #485352 !important; }

.dark-m .tree-vp .bg { fill: #171717 !important; }

.dark-m #side-tool .bg { fill: #313837 !important; }
.dark-m #tree-tool .bg { fill: #202121 !important; }
.dark-m .tree-search .bg { fill: #101010 !important; }

.dark-m .btn-bg { fill: #fff !important; fill-opacity: 0.24 !important; stroke: url(#btn-stroke-d-m) !important; }
.dark-m .input-bg { fill: #fff !important; fill-opacity: 0.08 !important; stroke: #fff !important; stroke-opacity: .11; }

.dark-m .tb-button rect { fill: url(#btn-bg-d-m) !important; }
.dark-m .find-bg, .dark-m .tree-cols .bg { fill: #323232 !important; }
.dark-m .find-h-bg { fill: #25456c !important; }

.dark-m #t-ctrs-m ellipse { stroke: none !important; }
.dark-m #t-stroke { stroke: #000 !important; }
.dark-m #sb-stroke, .dark-m #main-stroke { stroke: #404242 !important; }
.dark-m .tb-button rect { stroke: #fff !important; stroke-opacity: 0.23;  }
.dark-m #menu-stroke { stroke: #324040 !important; }
.dark-m #side-tool .stroke { stroke: #3a4140 !important; }
.dark-m #tree-tool .stroke { stroke: #2d2e2e !important; }

.dark-m #w-shade { stroke-opacity: 0.24 !important; }

.dark-m .tb-button text { fill-opacity: 0.89; }
.dark-m .menu-item text, .dark-m .tool-txt { fill-opacity: 0.89; text-shadow: 0 0.5px 1px #090909; }
.dark-m .menu-item .btn-txt { text-shadow: none; }
.dark-m .btn-txt, .dark-m .find-txt { fill-opacity: 0.78 !important; }
.dark-m .find-h-txt { fill: #323232 !important; }

.dark-m .tb-button .ico use { fill: #dad4d6 !important; }
.dark-m .tb-tab .ico use { fill: #fff !important; }
.dark-m .tb-ico use { fill: #fff !important; }
.dark-m .menu-item .ico use { fill: #c7c8c8 !important; }
.dark-m #split-start .ico use { fill: #ced0d0 !important; }
.dark-m #split-end .ico use { fill: #c7c7c7 !important; }

.dark-m #tb-start { stroke: #fff !important; }
.dark-m #tb-end {  }
.dark-m #split ellipse { fill: #444646 !important; }

.dark-m .btn-caret rect { fill: url(#btn-bg-a-d-m) !important; stroke: url(#btn-stroke-d-m) !important; }

.dark-m .tb-tab.active rect { fill: #2a4f7b !important; stroke: #234065 !important; }
.dark-m #split-start .focused { fill: #596362 !important; }
.dark-m #split-end .focused { fill: #023acd !important; }

.dark-m .sbv .xy { fill: #8b8b8b !important; }



.w { font-family: 'Segoe UI', Tahoma, sans-serif !important; }
.l { font-family: 'Ubuntu', 'Liberation Sans', sans-serif !important; }

.w #t-ctrs-m, .l #t-ctrs-m { display: none; }
.w #t-ctrs-w, .l #t-ctrs-l { display: block !important; }

.w #menubar, .l #menubar { display: block !important; }
.w #split ellipse, .l #split ellipse { display: none !important; }

.w #w-bg, .w #w-stroke, .w #t-bg, .w #sb-bg, .l #w-bg, .l #w-stroke, .l #w-shade, .l #t-bg, .l #sb-bg { rx: 0; }

.w .btn-caret .bg, .l .btn-caret .bg { fill: none !important; stroke: none !important; }

.w #w-inner, .l #w-inner { transform: matrix(1, 0, 0, 1, 0, 30); }

.w #tb-tabs rect, .w .tb-tab rect, .l #tb-tabs rect, .l .tb-tab rect { height: 67px; }
.w .tb-tab text, .l .tb-tab text { dy: 38px; }

.w #menu, .l #menu { transform: matrix(1, 0, 0, 1, 0, -2); }
.w #menu-bg, .l #menu-bg { height: 89px; }

.w .menu-item, .l .menu-item { transform: translate(0, -6px); }
.w .menu-item > rect, .l .menu-item > rect{ height: 88px; }
.w .menu-item > text, .l .menu-item > text { font-size: 24px !important; }

.w #main, .l #main { transform: matrix(1, 0, 0, 1, 0, -13); }

.w .ay, .l .ay { text-decoration: underline; }


.w #w-bg { fill: #efefef !important; stroke: #acc6c3 !important; }
.w #t-bg { fill: #fafafa !important; stroke: none !important; }

.w #t-txt { font-weight: normal !important; font-size: 21.5px !important; fill: #000 !important; transform: translate(0, 1px); }

.w .btn-bg { rx: 0; stroke: #ccc !important; }

.w .menu-item .ico use { fill: #5c5c5c !important; }

.w .tb-tab.active rect { stroke: #308cc6 !important; }
.w .tb-tab.active text { fill: #fff !important; }

.w .focused, .w .tb-tab.active rect  { fill: #308cc6 !important; }


.l .sbh .bg, .l .sbv .bg, .l .sbh .btn-bg, .l .sbv .btn-bg { display: block !important; }

.l #w-bg { fill: #efefef !important; stroke: #acc6c3 !important; }
.l #t-bg { fill: #fafafa !important; stroke: none !important; }

.l #sb-bg, .l #tabbar .bg, .l #tb-corner .bg, .l #menu-bg, .l #ss-bg { fill: none !important; }
.l #main-bg, .l #side-tool .bg, .l #tree-tool .bg { fill: #efefef !important; }

.l #t-txt { font-size: 19px !important; fill: #636363 !important; }

.l #mb-stroke { fill: #e2e2e2 !important; stroke: #e2e2e2; stroke-width: 1px; transform: translate(0, -0.5px); }

.l .btn-bg, .l .tb-button rect, .l .box-button .bg { rx: 3; fill: url(#btn-bg-l) !important; stroke: #ababab !important; }

.l .find-h-bg { fill: #68c5ff !important; }

.l .ruler { height: 26px; stroke: #000; stroke-opacity: 0.75; transform: translate(0, -1px); }

.l .menu-item .ico use, .l .tree-item .ico use { fill: #5c5c5c !important; }

.l .tree-cols .bg { fill: url(#btn-bg-l) !important; stroke: #c8c8c8; stroke-width: 2px; clip-path: inset(1px 1px 0); }

.l .tb-tab.active rect { stroke: #308cc6 !important; }
.l .tb-tab.active text { fill: #fff !important; }

.l #sb-stroke { stroke: #e4e4e4 !important; }

.l .focused, .l .tb-tab.active rect  { fill: #308cc6 !important; }
.l .tree-items g text { fill: #fff !important; }

.l #statusbar { transform: translate(0, 5px); }
.l #sb-bg { height: 51px; }
.l #sb-stroke { height: 37px; }
.l #statusbar text { font-size: 18px !important; transform: translate(-5px, -2px); }
.l #statusbar text:last-child { transform: translate(38px, -2px); }

.l #tb-corner .bg { width: 128px; }
.l .tb-button { transform: translate(8px, 0); }
.l .tb-button text { font-size: 18px !important; }
.l #tb-tabs { transform: translate(8px, 0); }

.l .tb-tab rect { fill: #efefef !important; }
.l .tb-tab rect, .l #tb-end { stroke: #dfdfdf !important; }
.l .tb-tab text { font-size: 18px !important; transform: translate(0, -1px); }

.l .box-title text { font-size: 19px !important; }
.l .tree-cols text { transform: translate(-3px, 2px); }

.l .box-button { transform: translate(20px, -5px); }

.l #split rect { width: 4px; }
.l #split-end { transform: translate(-7px, 0); }

.l .tree .tree-items { transform: translate(0, -1px); }
.l .tree-items text { transform: translate(-5px, 0); }

.l .tree-search .bg { width: 1332px; height: 50px; }
.l #tree-tool .bg { width: 1332px; }
.l .tree-search { transform: translate(0, 20px); }
.l .search-item { transform: translate(0, -4px); }

.l #side-tool .bg, .l #side-tool .stroke, .l #tree-tool .bg, .l #tree-tool .stroke { height: 65px; transform: translate(0, 8px); }
.l #st-items, .l #tt-items { transform: translate(0, 4px); }
.l .tool-txt { font-size: 19px !important; }

.l .st-item:last-child { transform: translate(20px, 2px); }
.l .tt-item:last-child { transform: translate(30px, 2px); }
.l .st-item:last-child .btn-bg, .l .tt-item:last-child .btn-bg { width: 100px; height: 34px; }
.l .st-item:last-child .btn-bg { transform: translate(15px, -1px); }
.l .tt-item:last-child .btn-bg { transform: translate(10px, -1px); }
.l .st-item:last-child .btn-ico use, .l .tt-item:last-child .btn-ico use { x: 15px; }

.l .sbh { clip-path: inset(0 0 1px 1px); }
.l .sbv { clip-path: inset(1px 1px 0 0); transform: translate(7px, -1px); }
.l .sbh .bg, .l .sbv .bg { fill: #e6e6e6; stroke: #bcbcbc !important; }
.l .sbh .btn-bg, .l .sbv .btn-bg { rx: 0; }
.l .sbh .btn-bg, .l .sbv .btn-bg, .l .sbh .xy, .l .sbv .xy { display: block !important; fill: url(#btn-bg-l) !important; stroke: #ababab !important; stroke-width: 1px; }
.l .sbh .xy, .l .sbv .xy { rx: 0 }
.l .sbh .xy { display: block !important; x: 487px; y: 997px; width: 1255px; height: 14px; }
.l .sbv .xy { x: 1784px; y: 511px; width: 14px; height: 70px; }



#test text { font-family: sans-serif; font-weight: bold; text-decoration: underline; cursor: pointer; }
