
svg {}

/* safari: unsupported */
text { user-select: none; }

#menubar tspan tspan { text-decoration: underline; }

.dm text { fill: #fff !important; }
.dm #t-txt { fill: #bcbebe !important; }

.dm #t-bg { fill: #404242 !important; stroke: #787979 !important; }
.dm #w-bg, .dm #menu-bg { fill: #313333 !important; }
.dm #sb-bg, .dm #tabbar .bg, .dm #main-bg { fill: #2f3131 !important; }

.dm #ss-bg, .dm #tb-corner .bg { fill: #485352 !important; }

.dm .tree-vp .bg { fill: #171717 !important; }

.dm #side-tool .bg { fill: #313837 !important; }
.dm #tree-tool .bg { fill: #202121 !important; }
.dm .tree-search .bg { fill: #101010 !important; }

.dm .btn-bg { fill: #fff !important; fill-opacity: 0.24 !important; stroke: url(#btn-stroke-d-m) !important; }
.dm .input-bg { fill: #fff !important; fill-opacity: 0.08 !important; stroke: #fff !important; stroke-opacity: .11; }

.dm .tb-button rect { fill: url(#btn-bg-d-m) !important; }
.dm .find-bg, .dm .tree-cols .bg { fill: #323232 !important; }
.dm .find-h-bg { fill: #25456c !important; }

.dm #t-ctrs-m ellipse { stroke: none !important; }
.dm #t-stroke { stroke: #000 !important; }
.dm #sb-stroke, .dm #main-stroke { stroke: #404242 !important; }
.dm .tb-button rect { stroke: #fff !important; stroke-opacity: 0.23;  }
.dm .tb-tab rect { fill: #323232 !important; stroke: #3e3e3e !important; }
.dm #menu-stroke { stroke: #324040 !important; }
.dm #side-tool .stroke { stroke: #3a4140 !important; }
.dm #tree-tool .stroke { stroke: #2d2e2e !important; }

.dm #w-shade { stroke-opacity: 0.24 !important; }

.dm .tb-button text { fill-opacity: 0.89; }
.dm .menu-item text, .dm .tool-txt { fill-opacity: 0.89; text-shadow: 0 0.5px 1px #090909; }
.dm .menu-item .btn-txt { text-shadow: none; }
.dm .btn-txt, .dm .find-txt { fill-opacity: 0.78 !important; }
.dm .find-h-txt { fill: #323232 !important; }

.dm .tb-button .ico use { fill: #dad4d6 !important; }
.dm .tb-tab .ico use { fill: #646464 !important; }
.dm .tb-tab .tb-ico use { fill: #fff !important; }
.dm .menu-item .ico use { fill: #c7c8c8 !important; }
.dm #tree .ico use { fill: #7b7c7c !important; }
.dm #split-start .ico use { fill: #ced0d0 !important; }
.dm #split-end .ico use { fill: #c7c7c7 !important; }

.dm #tb-start { fill: #3a5165 !important; }
.dm #tb-end { fill: #3a3a3a !important; }
.dm #split ellipse { fill: #444646 !important; }

.dm .btn-caret rect { fill: url(#btn-bg-a-d-m) !important; stroke: url(#btn-stroke-d-m) !important; }

.dm .tb-tab.active rect { fill: #2a4f7b !important; stroke: #234065 !important; }
.dm .tb-tab.active .ico use { fill: #fff !important; }
.dm #split-start .focused { fill: #596362 !important; }
.dm #split-end .focused { fill: #023acd !important; }

.dm .sbv .xy { fill: #8b8b8b !important; }



.w { font-family: 'Segoe UI', Tahoma, sans-serif !important; }
.f { font-family: 'Ubuntu', 'Liberation Sans', sans-serif !important; }

.w #t-ctrs-m, .f #t-ctrs-m { display: none; }
.w #t-ctrs-w, .w #t-ico-w, .f #t-ctrs-l { display: block !important; }

.w #menubar, .f #menubar, .w .arrow-w, .f .arrow-f { display: block !important; }
.w #split ellipse, .f #split ellipse, .w .arrow-m, .f .arrow-m { display: none !important; }

.w #w-bg, .w #w-stroke, .w #t-bg, .w #sb-bg, .f #w-bg, .f #w-stroke, .f #w-shade, .f #t-bg, .f #sb-bg { rx: 0; }

.w .btn-caret .bg, .f .btn-caret .bg { fill: none !important; stroke: none !important; }

.w #w-inner, .f #w-inner { transform: matrix(1, 0, 0, 1, 0, 30); }

.w #tb-tabs rect, .f #tb-tabs rect { height: 65px; }
.w #tb-tabs .tb-tab rect, .f #tb-tabs .tb-tab rect { height: 67px; }
.w .tb-tab text, .f .tb-tab text { dy: 38px; }

.w #menu, .f #menu { transform: matrix(1, 0, 0, 1, 0, -2); }
.w #menu-bg, .f #menu-bg { height: 89px; }

.w .menu-item, .f .menu-item { transform: translate(0, -6px); }
.w .menu-item > rect, .f .menu-item > rect{ height: 88px; }
.w .menu-item > text, .f .menu-item > text { font-size: 24px !important; }

.w #main, .f #main { transform: matrix(1, 0, 0, 1, 0, -13); }

.w .ay, .f .ay { text-decoration: underline; }


.w #w-bg { fill: #efefef !important; stroke: #acc6c3 !important; }
.w #t-bg { fill: #fafafa !important; stroke: none !important; }

.w #t-txt { font-weight: normal !important; font-size: 21.5px !important; fill: #000 !important; transform: translate(0, 1px); }

.w .btn-bg { rx: 0; stroke: #ccc !important; }

.w .menu-item .ico use { fill: #5c5c5c !important; }

.w .tb-tab.active rect { stroke: #308cc6 !important; }
.w .tb-tab.active text { fill: #fff !important; }

.w .focused, .w .tb-tab.active rect  { fill: #308cc6 !important; }

.w .sbh { clip-path: inset(0 0 1px 1px); }
.w .sbv { clip-path: inset(1px 1px 0 0); transform: translate(7px, -1px); }
.w .sbh .bg, .w .sbv .bg { fill: #e6e6e6; stroke: #bcbcbc !important; }
.w .sbh .btn-bg, .w .sbv .btn-bg { rx: 0; }
.w .sbh .btn-bg, .w .sbv .btn-bg, .w .sbh .xy, .w .sbv .xy { display: block !important; fill: url(#btn-bg-l) !important; stroke: #ababab !important; stroke-width: 1px; }
.w .sbh .xy, .w .sbv .xy { rx: 0 }
.w .sbh .xy { display: block !important; x: 487px; y: 997px; width: 1255px; height: 14px; }
.w .sbv .xy { x: 1784px; y: 511px; width: 14px; height: 70px; }


.f .sbh .bg, .f .sbv .bg, .f .sbh .btn-bg, .f .sbv .btn-bg { display: block !important; }

.f #w-bg { fill: #efefef !important; stroke: #acc6c3 !important; }
.f #t-bg { fill: #fafafa !important; stroke: none !important; }

.f #sb-bg, .f #tabbar .bg, .f #tb-corner .bg, .f #menu-bg, .f #ss-bg { fill: none !important; }
.f #main-bg, .f #side-tool .bg, .f #tree-tool .bg { fill: #efefef !important; }

.f #t-txt { font-size: 19px !important; fill: #636363 !important; }

.f #mb-stroke { fill: #e2e2e2 !important; stroke: #e2e2e2; stroke-width: 1px; transform: translate(0, -0.5px); }

/* safari bug: radius undefined :workaround: rx="1" style="rx:0" */
.f .btn-bg, .f .tb-button rect, .f .box-button .bg { rx: 4px !important; fill: url(#btn-bg-l) !important; stroke: #ababab !important; }

.f .find-h-bg { fill: #68c5ff !important; }

.f .ruler { height: 26px; stroke: #000; stroke-opacity: 0.75; transform: translate(0, -1px); }

.f .menu-item .ico use, .f .tree-item .ico use { fill: #5c5c5c !important; }

.f .tree-cols .bg { fill: url(#btn-bg-l) !important; stroke: #c8c8c8; stroke-width: 2px; clip-path: inset(1px 1px 0); }

.f .tb-tab.active rect { stroke: #308cc6 !important; }
.f .tb-tab.active text { fill: #fff !important; }

.f #sb-stroke { stroke: #e4e4e4 !important; }

.f .focused, .f .tb-tab.active rect  { fill: #308cc6 !important; }
.f .tree-items g text { fill: #fff !important; }

.f #statusbar { transform: translate(0, 5px); }
.f #sb-bg { height: 51px; }
.f #sb-stroke { height: 37px; }
.f #statusbar text { font-size: 18px !important; transform: translate(-5px, -2px); }
.f #statusbar text:last-child { transform: translate(38px, -2px); }

.f #tb-corner .bg { width: 128px; }
.f .tb-button { transform: translate(8px, 0); }
.f .tb-button text { font-size: 18px !important; }
.f #tb-tabs { transform: translate(8px, 0); }

.f .tb-tab rect { fill: #efefef !important; }
.f .tb-tab rect { stroke: #dfdfdf !important; }
.f #tb-end { fill: #dfdfdf !important; }

.f .tb-tab text { font-size: 18px !important; transform: translate(0, -1px); }
.f .box-title text { font-size: 19px !important; }
.f .tree-cols text { transform: translate(-3px, 2px); }

.f .box-button { transform: translate(20px, -5px); }

.f #split rect { width: 4px; }
.f #split-end { transform: translate(-7px, 0); }

.f .tree .tree-items { transform: translate(0, -1px); }
.f .tree-items text { transform: translate(-5px, 0); }

.f .tree-search .bg { width: 1332px; height: 50px; }
.f #tree-tool .bg { width: 1332px; }
.f .tree-search { transform: translate(0, 20px); }
.f .search-item { transform: translate(0, -4px); }

.f #side-tool .bg, .f #side-tool .stroke, .f #tree-tool .bg, .f #tree-tool .stroke { height: 65px; transform: translate(0, 8px); }
.f #st-items, .f #tt-items { transform: translate(0, 4px); }
.f .tool-txt { font-size: 20px !important; }

.f .st-item:last-child { transform: translate(20px, 2px); }
.f .tt-item:last-child { transform: translate(30px, 2px); }
.f .st-item:last-child .btn-bg, .f .tt-item:last-child .btn-bg { width: 100px; height: 34px; }
.f .st-item:last-child .btn-bg { transform: translate(15px, -1px); }
.f .tt-item:last-child .btn-bg { transform: translate(10px, -1px); }
.f .st-item:last-child .btn-ico use, .f .tt-item:last-child .btn-ico use { x: 15px; }

.f .sbh { clip-path: inset(0 0 1px 1px); }
.f .sbv { clip-path: inset(1px 1px 0 0); transform: translate(7px, -1px); }
.f .sbh .bg, .f .sbv .bg { fill: #e6e6e6; stroke: #bcbcbc !important; }
.f .sbh .btn-bg, .f .sbv .btn-bg { rx: 0; }
.f .sbh .btn-bg, .f .sbv .btn-bg, .f .sbh .xy, .f .sbv .xy { display: block !important; fill: url(#btn-bg-l) !important; stroke: #ababab !important; stroke-width: 1px; }
.f .sbh .xy, .f .sbv .xy { rx: 0 }
.f .sbh .xy { display: block !important; x: 487px; y: 997px; width: 1255px; height: 14px; }
.f .sbv .xy { x: 1784px; y: 511px; width: 14px; height: 70px; }



#test text { font-family: sans-serif; font-weight: bold; text-decoration: underline; cursor: pointer; }
