li {
  line-height: 1.5;
}

#help {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
#help main {
  padding: 0 1rem 2rem;
}
#help p {
  font-size: 1rem;
}

#help main > div {
  padding: 2rem 0 0;
}
#help main > div div {
  padding: .5rem 0 1.5rem;
}

#side {
  display: none;
  position: relative;
}
#side #toc {
  position: sticky;
  top: 0;
  height: fit-content;
}
#side a {
  color: currentColor;
}
#side nav a {
  display: block;
}

@media (min-width: 992px) {
  #help {
    justify-content: space-between;
    padding: 0 1.5rem 2rem;
  }
  #help main {
    padding: 0 0.5rem 2rem;
    max-width: 640px;
  }
  #side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 32ch;
  }
  #side #toc {
    order: 1;
  }
}
@media (min-width: 1200px) {
  #help {
    justify-content: space-evenly;
    padding: 0 6rem 2rem;
  }
  #help main {
    max-width: 960px;
  }
  #side {
    width: 36ch;
  }
}
@media print {
  #help main {
    max-width: unset;
  }
  #side {
    display: none;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem .5rem;
  margin: 1.5rem 0;
}
ul.grid {
  list-style: none;
}
ul.grid li {
  display: inline-grid;
  height: 12ch;
}
.card {
  display: block;
  margin: 0;
  padding: .5em 1rem;
  border: 1px solid;
}
a.card {
  text-decoration: none;
}
a.card h3 {
  text-decoration: underline;
}
.card h3 {
  margin: 0 0 .5rem;
  font-size: 1rem;
}
.card p {
  margin: 0 0 .1rem;
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen {
  .card {
    border-color: #ffff;
  }
  .card {
    background: #eee;
  }
}

samp,
code {
  padding: .1rem .2rem;
  background: #ddd;
  border-radius: 3px;
}
body.dark samp,
body.dark code {
  background: #555;
}
samp {
  font-family: inherit;
  font-size: 96%;
}
code {
  display: inline-block;
  font-size: 78%;
}
code:before {
  content: "~$ ";
}

kbd {
  padding: .2rem .4rem;
  font-family: inherit;
  font-weight: bold;
  font-size: .85rem;
  border-radius: 2px;
  color: #fff;
  background: #444;
}

.image {
  background: #f9f9f9;
  user-select: none;
}
body.dark .image {
  background: #0a0a0a;
}
body.dark .image [stroke] {
  stroke: #fff;
}
body.dark .image [fill="#dff"] {
  fill: #023;
}
body.dark .image text.mark {
  fill: #dff;
}
body.dark .image ellipse[stroke] {
  stroke: #dff;
}
body.dark .image text {
  fill: #fff;
}
