  <div id="footer" role="contentinfo">
    <div>
      <nav>
        <ul>
          <li><a href="/">About <span translate="no">e2 SAT Editor</span></a></li>
          <li><a href="/help/">Help</a></li>
          <li class="separator"></li>
          <li><a href="/translate/">Translations</a></li>
          <li><a href="https://github.com/ctlcltd/e2-sat-editor"><span translate="no">e2SE</span> repository</a></li>
          <li class="separator"></li>
          <li><a href="/privacy.html">Your Privacy</a></li>
          <li class="separator"></li>
          <li><a href="/donate.html">Donate!</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <p translate="no">Copyright &copy; {{ "now" | date: "%Y" }} <span>e2 SAT Editor Team</span> <span class="whoiam">[Leonardo Laureti]</span></p>
    </div>
  </div>