<script>document.body.dataset.lazy=''</script>
<div id="head">
  <div>
    <button type="button" id="switch-color">
      <svg width="22" height="22"><use href="#tone" fill="currentColor"/></svg>
      <span class="d">switch to light</span>
      <span class="l">switch to dark</span>
    </button>
  </div>
</div>