  <div id="footer">
    <div>
      <nav>
        <ul>
          <li><a href="/">About e2 SAT Editor</a></li>
          <li><a href="/help/">Help</a></li>
          <li class="separator"></li>
          <li><a href="/translate/">Translations</a></li>
          <li><a href="https://github.com/ctlcltd/e2-sat-editor">e2SE repository</a></li>
          <li class="separator"></li>
          <li><a href="/privacy.html">Your Privacy</a></li>
          <li class="separator"></li>
          <li><a href="/donate.html">Donate!</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <p>Copyright &copy; 2023 e2 SAT Editor Team <span>[Leonardo Laureti]</span></p>
    </div>
  </div>