    <div id="side">
      <aside id="toc">
        <h4>Contents</h4>
        <nav class="nav nav-side">
          <ul class="toc">
            <li><a href=""></a>
              <ul>
                <li><a class="" href=""></a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside>
      <aside id="language">
        <h4>Language</h4>
        <nav>
          <a href="https://translate.google.com/?sl=en&amp;text={{protocol}}://{{host}}{{path}}">Translate this page in your language with Google Translate</a>
        </nav>
      </aside>
    </div>
