<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
{% unless distributable %}      <h1>Online Help</h1>
{% else %}      <h1>User Manual</h1>{% endunless %}
      <h2>Command line</h2>
      <p>How to use command line options or <em>e2se-cli</em> command line interface.</p>
      <div id="options" class="l1">
        <h3>Command line options</h3>
        <p>The software runs from the command line also, optionally with a file name or option.</p>
        <div class="l3">
          <p>Note: <i>Command line options are available since software version 1.2</i></p>
        </div>
        <div class="l2">
          <p>Open a terminal and launch the software &ndash; from its current location &ndash; eg. <samp>cd e2-sat-editor-directory</samp>, followed by a <samp>[FILE]</samp>name or <samp>[OPTION]</samp>.</p>
          <p><b>Windows PowerShell</b> <code>.\e2-sat-editor.exe [FILE] [OPTION]</code></p>
          <p><b>Windows CMD</b> <code>e2-sat-editor.exe [FILE] [OPTION]</code></p>
          <p><b>macOS</b> <code>./e2\ SAT\ Editor.app/Contents/MacOS/e2\ SAT\ Editor [FILE] [OPTION]</code></p>
          <p><b>Linux (AppImage)</b> <code>./e2-sat-editor-VERSION-x86_64-linux.AppImage [FILE] [OPTION]</code></p>
          <p><b>Linux (Snap)</b> <code>snap run e2-sat-editor -- [FILE] [OPTION]</code></p>
          <p><b>Linux (Flatpak)</b> <code>flatpak run io.github.ctlcltd.e2se -- [FILE] [OPTION]</code></p>
          <p><b>Other shell</b> <code>./e2-sat-editor [FILE] [OPTION]</code></p>
        </div>
        <div class="l3">
          <h5>Open a file</h5>
          <p>To open a file from command line.</p>
          <p><samp>[FILE]</samp> eg. <code>e2-sat-editor [FILE]</code></p>
        </div>
        <div class="l3">
          <h5>Show software version</h5>
          <p>To show the software version from command line.</p>
          <p><samp>--version</samp> eg. <code>e2-sat-editor --version</code></p>
        </div>
        <div id="debug" class="l3">
          <h5>Debugging option</h5>
          <p>To turn on software logs and show debug informations.</p>
          <p><samp>--debug</samp> eg. <code>e2-sat-editor --debug</code></p>
          <div class="l3">
            <p>Another way to show debug info using enviroment variable <samp>DEBUG</samp>.</p>
            <p><b>Windows PowerShell</b> eg. <code>$env:QT_WIN_DEBUG_CONSOLE="new"; $env:DEBUG=1; .\e2-sat-editor.exe [FILE] [OPTION]</code></p>
            <p><b>macOS</b> eg. <code>DEBUG=1 ./e2\ SAT\ Editor.app/Contents/MacOS/e2\ SAT\ Editor [FILE] [OPTION]</code></p>
            <p><b>Linux (AppImage)</b> eg. <code>DEBUG=1 ./e2-sat-editor-VERSION-x86_64-linux.AppImage [FILE] [OPTION]</code></p>
            <p><b>Other shell</b> eg. <code>DEBUG=1 ./e2-sat-editor [FILE] [OPTION]</code></p>
          </div>
        </div>
      </div>
      <div id="cli" class="l1">
        <h3>Command line interface <span class="type">[e2se-cli]</span></h3>
        <p>Command line interface is provided by <em>e2se-cli</em> application binary.</p>
        <p>It offers an interactive shell with almost the same features of the software GUI counterpart.</p>
        <div class="l2">
          <p>Note: <i>e2se-cli is not ultimated yet</i></p>
        </div>
        <div class="l2">
          <p>Open a terminal and launch the software &ndash; from its current location &ndash; eg. <samp>cd e2-sat-editor-directory/cli</samp>, optionally followed by <samp>[OPTION]</samp>.</p>
          <p><b>Windows PowerShell</b> <code>.\e2se-cli.exe [OPTION]</code></p>
          <p><b>Windows CMD</b> <code>e2se-cli.exe [OPTION]</code></p>
          <p><b>macOS</b> <code>./e2se-cli [OPTION]</code></p>
          <p><b>Linux (AppImage)</b> <code>./e2se-cli-VERSION-x86_64-linux.AppImage [OPTION]</code></p>
          <p><b>Other shell</b> <code>./e2se-cli [OPTION]</code></p>
        </div>
        <div class="l3">
          <h5>Typical usage</h5>
          <p>To open interactive shell.</p>
          <p>eg. <code>e2se-cli</code></p>
        </div>
        <div class="l3">
          <h5>Show help</h5>
          <p>To show usage help.</p>
          <p><samp>-h</samp> <samp>--help</samp> eg. <code>e2se-cli --help</code></p>
          <p><b>From interactive shell</b>, type <samp>help</samp>.</p>
        </div>
        <div class="l3">
          <h5>Show software version</h5>
          <p>To show the software version from command line.</p>
          <p><samp>-v</samp> <samp>--version</samp> eg. <code>e2se-cli --version</code></p>
          <p><b>From interactive shell</b>, type <samp>version</samp>.</p>
        </div>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
