<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
{% unless distributable %}      <h1>Online Help</h1>
{% else %}      <h1>User Manual</h1>{% endunless %}
      <h2>Edit Transponders</h2>
      <p>Edit transponders and transponder parameters.</p>
      <div id="howto" class="l1">
        <h3>How to edit</h3>
        <p>Select the transponder to edit, open the context menu and click on <b>&quot;Edit Transponder&quot;</b>.</p>
        <p>In <b>dialog</b>, edit the transponder parameters, then press <b>&quot;Save&quot;</b>.</p>
        <div class="l2">
          <p>Transponder can be quickly edited by <b>double-click</b>ing on selected service channel.</p>
          <p>Note: <i>Transponder parameters will be changed for any service associated with the transponder.</i></p>
        </div>
      </div>
      <div id="properties" class="l1">
        <h3>Properties</h3>
        <p>From <b>Transponder</b> group you will change the following transponder properties:</p>
        <ul>
          <li><b>Type</b>, type of service: Satellite, Terrestrial, Cable, ATSC</li>
          <li><b>Transport ID</b>, Transport Stream identifier</li>
          <li><b>DVBNS</b>, DVB namespace identifier from Enigma 2 specs</li>
          <li><b>ONID</b>, network identifier</li>
          <li><b>Position</b>, orbital position of the transmitter (Satellite) expressed in degrees and W/E suffix: W = west, E = east, equal to 0.00 W/E for: Terrestrial, Cable, ATSC</li>
        </ul>
      </div>
      <div id="parameters" class="l1">
        <h3>Parameters <span class="type">[Type]</span></h3>
        <p>Editable parameters vary depending on the Type selected in <b>Transponder</b> group.</p>
        <div class="l2">
          <h4>Parameters for Satellite</h4>
          <ul>
            <li><b>Frequency</b>, expressed in KHz</li>
            <li><b>Polarization</b>, with values: H = horizontal, V = vertical, L = circular left, R = circular right</li>
            <li><b>Symbol Rate</b>, expressed in bit/s</li>
            <li><b>FEC</b>, acronym for Forward Error Control</li>
            <li><b>System</b>, with values: auto = automatic selection, DVB-S, DVB-S2, DVB-S/S2</li>
            <li><b>Modulation</b></li>
            <li><b>Inversion</b></li>
            <li><b>Roll offset</b></li>
            <li><b>Pilot</b></li>
          </ul>
          <p>extended:</p>
          <ul>
            <li><b>isid</b></li>
            <li><b>mts</b></li>
            <li><b>plsmode</b></li>
            <li><b>plscode</b></li>
            <li><b>plsn</b></li>
          </ul>
        </div>
        <div class="l2">
          <h4>Parameters for Terrestrial</h4>
          <ul>
            <li><b>Frequency</b>, expressed in KHz</li>
            <li><b>Constellation</b>, synonym for modulation</li>
            <li><b>Bandwidth</b></li>
            <li><b>HP FEC</b>, acronym for High-Pass Forward Error Control</li>
            <li><b>LP FEC</b>, acronym for Low-Pass Forward Error Control</li>
            <li><b>Transmission Mode</b></li>
            <li><b>Inversion</b></li>
            <li><b>Guard Interval</b></li>
            <li><b>Hierarchy</b></li>
          </ul>
          <p><span class="type">[Lamedb only]</span>:</p>
          <ul>
            <li><b>System</b>, with values: auto = automatic selection, DVB-T, DVB-T2</li>
          </ul>
        </div>
        <div class="l2">
          <h4>Parameters for Cable</h4>
          <ul>
            <li><b>Frequency</b>, expressed in KHz</li>
            <li><b>Modulation</b></li>
            <li><b>Symbol Rate</b>, expressed in bit/s</li>
            <li><b>Inner FEC</b>, acronym for Forward Error Control</li>
            <li><b>Inversion</b></li>
          </ul>
        </div>
        <div class="l2">
          <h4>Parameters for ATSC</h4>
          <ul>
            <li><b>Frequency</b>, expressed in KHz</li>
            <li><b>Modulation</b></li>
            <li><b>System</b>, with values: empty = automatic selection, ATSC, <span translate="no">DVB-C ANNEX B</span></li>
          </ul>
        </div>
      </div>
      <div id="channel" class="l1">
        <h3>Edit from channel</h3>
        <p>Select the service channel to edit, open the context menu and click on <b>&quot;Edit Service&quot;</b>.</p>
        <p>Service can be quickly edited by <b>double-click</b>ing on selected service channel.</p>
        <p>From <b>Tuner</b> group you will change the transponder:</p>
        <ul>
          <li><b>Satellite</b>, position selection</li>
          <li><b>Transponder</b>, transponder selection</li>
          <li>to create a transponder, press <b>&quot;New Transponder&quot;</b></li>
        </ul>
        <p>To change the transponder parameters, go to <b>Transponder</b> tab.</p>
        <p>Edit the transponder parameters, then return to <b>Service</b> tab or press <b>&quot;Save&quot;</b>.</p>
        <div class="l2">
          <p><i>The service will be changed in every position where found.</i></p>
          <p>Note: <i>The transponder parameters will be changed for any service associated with the transponder.</i></p>
        </div>
      </div>
      <div class="ls">
        <p>For channel lists guide follow <a href="channel-lists.html">Channel List operations</a> page of online help.</p>
        <p>For transponders guide follow <a href="transponders.html">Transponder operations</a> page of online help.</p>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
