<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
      <h1>Online Help</h1>
      <h2>Edit Services</h2>
      <p>Edit service channels and service parameters.</p>
      <p>Properties, parameters, tuner, transponder, package, PID, Card ID, flags.</p>
      <div class="info">
        <span class="read"><svg width="32" height="32"><use href="#read" fill="currentColor"/></svg></span>
        <p>First you could read <a href="quick-start.html">Quick Start</a> page of online help for a quick introduction, with basic notions: context menu, Drag and Drop, multiple selection.</p>
      </div>
      <div id="howto" class="l1">
        <h3>How to edit</h3>
        <p>Select the service channel to edit, open the context menu and click on <b>&quot;Edit Service&quot;</b>.</p>
        <p>In <b>dialog</b>, edit the service parameters, then press <b>&quot;Save&quot;</b>.</p>
        <div class="l2">
          <p><i>The service will be changed in every position where found.</i></p>
          <p>Service can be quickly edited by <b>double-click</b>ing on selected service channel.</p>
        </div>
      </div>
      <div id="properties" class="l1">
        <h3>Properties</h3>
        <p>From <b>Service</b> group you will change the following service properties:</p>
        <ul>
          <li><b>Service name</b>, name of the service channel</li>
          <li><b>Service type</b>, to enter a custom numeric type press <b>&quot;Custom&quot;</b></li>
          <li><b>Service ID</b>, service identifier</li>
        </ul>
      </div>
      <div id="transponder" class="l1">
        <h3>Transponder</h3>
        <p>From <b>Tuner</b> group you will change the transponder:</p>
        <ul>
          <li><b>Satellite</b>, position selection</li>
          <li><b>Transponder</b>, transponder selection</li>
          <li>to create a transponder, press <b>&quot;New Transponder&quot;</b></li>
        </ul>
        <p>To change the transponder parameters, go to <b>Transponder</b> tab.</p>
        <p>Edit the transponder parameters, then return to <b>Service</b> tab or press <b>&quot;Save&quot;</b>.</p>
        <div class="">
          <p>For further information, view <a href="edit-transponder.html">Edit Tranponders</a> page of online help.</p>
        </div>
        <div class="l2">
          <p>Note: <i>The transponder parameters will be changed for any service associated with the transponder.</i></p>
        </div>
      </div>
      <div id="parameters" class="l1">
        <h3>Parameters</h3>
        <p>From <b>Parameters</b> group you will change service parameters:</p>
        <ul>
          <li><b>Package</b>, contains provider name</li>
          <li><b>PIDs</b>, contains service PID parameters, eg. VPID, APID, PCRPID, ...</li>
          <li><b>CAIDs</b>, contains Card ID parameters of the service in comma-separated-value, eg. C:0100,C:0200</li>
          <li><b>Flags</b>, contains service flags, eg. Flag as new service, ...</li>
          <li><b>Custom</b>, to raw edit service parameters in comma-separated-value, eg. p:ProviderName,c:0100,C:0200</li>
          <li><b>Extras</b>, contains extra parameters: Service Number, Src ID</li>
        </ul>
      </div>
      <div class="">
        <p>For channel lists guide follow <a href="channel-lists.html">Channel List operations</a> page of online help.</p>
        <p>For transponders guide follow <a href="transponders.html">Transponder operations</a> page of online help.</p>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
