<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
{% unless distributable %}      <h1>Online Help</h1>
      <p>This is the online help for <strong>e2 SAT Editor</strong> software.</p>{% else %}      <h1>User Manual</h1>
      <p>This is the user manual for <strong>e2 SAT Editor</strong> software.</p>{% endunless %}
      <p>Here are all information for using the software.</p>
      <div class="info">
        <p>To get started and need quick help, refer to <a href="quick-start.html">Quick Start</a>.</p>
      </div>
      <div id="index" class="l1">
        <h2>Table of contents</h2>
        <p>The contents of Online Help.</p>
        <nav class="nav nav-index">
          <ul class="toc">{% for page in toc offset: 1 %}
            <li>
              <a href="{{ page[1].href }}">
                <h3>{{ page[1].title }}</h3>
                <p>{{ page[1].description }}</p>
              </a>
            </li>{% endfor %}
          </ul>
        </nav>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
