<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
      <h1>Online Help</h1>
      <p>This is the online help for &quot;e2 SAT Editor&quot; software.</p>
      <p>Here are all information for using the software.</p>
      <div class="info">
        <p>To get started and need quick help, refer to <a href="quick-start.html">Quick Start</a>.</p>
      </div>
      <div id="index" class="l1">
        <h2>Table of contents</h2>
        <p>The contents of Online Help.</p>
        <nav class="nav nav-index">
          <ul class="toc">
            <li>
              <a href="">
                <h3></h3>
                <p></p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
{% render '_page-side.liquid' %}
  </div>
{% render '_page-footer.liquid' %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
