<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
{% unless distributable %}      <h1>Online Help</h1>
{% else %}      <h1>User Manual</h1>{% endunless %}
      <h2>Settings</h2>
      <p>How to change software preferences, handle connection profiles and engine.</p>
      <p>Connections, contains connection profiles and connection parameters for Decoder STB. <br>Preferences, contains software appearance and behavior preferences. <br>Engine, contains built-in engine behavior preferences. <br>Advanced, contains access to advanced settings.</p>
      <div id="settings" class="l1">
        <h3>Settings</h3>
        <p>Software preferences are found in <b>&quot;Settings&quot;</b>.</p>
        <div class="l2">
          <p><b>From quick menu</b>, click on <b>&quot;Settings&quot;</b></p>
          <p><b>From main menu</b>, click on <b>File</b> &gt; <b>Settings</b>, or on Mac click menu <b>&quot;e2 SAT Editor&quot;</b> &gt; <b>Preferences&hellip;</b></p>
        </div>
        <p>A <b>dialog</b> will open, to save settings press <b>&quot;Save&quot;</b>, to cancel <b>&quot;Cancel&quot;</b>.</p>
        <div class="l2">
          <p>Note: <i>Not all the settings are changed real-time, in some cases it might necessary to restart the software.</i></p>
        </div>
      </div>
      <div id="connection" class="l1">
        <h3>Connection settings</h3>
        <p><b>Connections</b> tab contains all the parameters for connecting to Decoder (STB).</p>
        <p>To save settings press <b>&quot;Save&quot;</b>, to cancel <b>&quot;Cancel&quot;</b>.</p>
        <div class="l2">
          <h5>Profiles</h5>
          <p>Connection profiles are found in the side panel.</p>
          <div class="l3">
            <p>To <b>create</b> a new connection profile, press on <span class="symbolic">+</span>, below the side panel, then name the profile.</p>
            <p>To <b>remove</b> connection profiles, select one or more profiles, then press on <span class="symbolic">&ndash;</span>, below the side panel.</p>
            <p>To <b>remove</b> a connection profile, open the context menu and click on <b>&quot;Delete&quot;</b>.</p>
            <p>To <b>rename</b> a connection profile, open the context menu and click on <b>&quot;Rename&quot;</b>.</p>
          </div>
          <p>By <b>double-click</b>ing on the item panel you can rename the profile.</p>
        </div>
        <div class="l2">
          <h5>Profile properties</h5>
          <p>Select a profile from the side panel.</p>
          <p>The software automatically creates a profile with default settings, named <b>&quot;Default&quot;</b>.</p>
          <div class="info">
            <p>Most common STB parameters are available through the <a href="#presets">Connection Presets</a> feature.</p>
            <p><em>Parameters, Username, Password, vary by STB, rely on specialistic forum on the internet.</em></p>
          </div>
          <div class="l3">
            <h5>Connection</h5>
            <p><b>Connection</b> group contains the following connection parameters to STB:</p>
            <ul>
              <li><b>IP Address</b>, IP address of STB connected to the network</li>
              <li><b>FTP Port</b>, FTP connection port to STB, eg. 21</li>
              <li><b>Use Active FTP</b>, on / off, set the FTP connection as FTP Active instead of FTP Passive</li>
              <li><b>HTTP Port</b>, Webif connection port to STB, eg. 80</li>
            </ul>
          </div>
          <div class="l3">
            <h5>Login</h5>
            <p><b>Login</b> group contains the following connection parameters to STB:</p>
            <ul>
              <li><b>Username</b>, FTP / Telnet login username of STB</li>
              <li><b>Password</b>, FTP / Telnet login password of STB</li>
            </ul>
            <p>To show or hide the password, press the <i>eye</i> icon in Password input field.</p>
          </div>
          <div class="l3">
            <h5>Configuration</h5>
            <p><b>Configuration</b> group contains the following properties for interfacing with STB:</p>
            <ul>
              <li><b>Transponders</b>, path containing XML settings (satellites.xml, ...) related to transponders, eg. <span translate="no">/etc/tuxbox</span></li>
              <li><b>Services</b>, path containing service channel lists (lamedb, blacklist, ...), eg. <span translate="no">/etc/enigma2</span></li>
              <li><b>Bouquets</b>, path containing groups of channels (userbouquet.dbe01.tv, bouquet.tv, ...), eg. <span translate="no">/etc/enigma2</span></li>
              <li><b>Picons</b>, path containing channel logo (picons), eg. <span translate="no">/usr/share/enigma2/picon</span></li>
            </ul>
            <div class="l3">
              <p><b>Picons</b> common paths for channel logo (picons)</p>
              <p>eg. <samp>/usr/share/enigma2/picon</samp> <samp>/usr/share/enigma2/picon_oled</samp> <samp>/media/usb/picons</samp> <samp>/media/hdd/picons</samp> <samp>/data/picon</samp></p>
              <div class="l2">
                <p>Note: <i>the software does not currently upload / download picon images, these must be uploaded manually to the STB.</i></p>
              </div>
            </div>
          </div>
          <div class="l3">
            <h5>Commands</h5>
            <p><b>Commands</b> group contains the following advanced properties for interfacing with STB:</p>
            <ul>
              <li><b>Custom webif reload URL address</b>, URL address parameter for updating the STB lists, eg. <span translate="no">/web/servicelistreload?mode=0</span></li>
              <li><b>Custom telnet reload command</b>, Telnet command parameter for updating the STB lists, eg. <span translate="no">init 3</span></li>
            </ul>
            <div class="l3">
              <p>Turn off <b>reload</b></p>
              <p>To turn off webif reload and/or telnet reload type <samp>-</samp> on related custom reload parameter.</p>
              <div class="l2">
                <p>Note: <i>Turn off reload available since software version 1.3</i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="presets" class="l1">
        <h3>Connection Presets</h3>
        <p>To auto-fill the connection profile with most common STB parameters use <b>Connection Presets</b>.</p>
        <ul>
          <li>To use a <b>preset</b> to auto-fill profile, press on side panel menu, 3-dots icon <span class="symbolic symbolic-big">&vellip;</span> or <span class="symbolic">&hellip;</span> on Mac, below the side panel.</li>
          <li>Select a preset from the <b>Presets</b> menu list.</li>
        </ul>
        <p><b>&quot;Presets&quot;</b> menu list contains these options:</p>
        <ul translate="no">
          <li>Enigma 2.4</li>
          <li>Neutrino</li>
          <li>Enigma 2.3 / 2.4</li>
          <li>GX NationalChip Octagon 2.4</li>
          <li>Enigma 1</li>
        </ul>
      </div>
      <div id="import-export" class="l1">
        <h3>Profile Import and Export</h3>
        <p>To import and export connection profiles, use Import and Export features.</p>
        <div class="l2">
          <h5>Import Connection Profile</h5>
          <div class="l3">
            <p><b>From side panel menu</b>, below the side panel, press on 3-dots icon <span class="symbolic symbolic-big">&vellip;</span> or <span class="symbolic">&hellip;</span> on Mac, click on <b>&quot;Import Profiles&hellip;&quot;</b></p>
          </div>
          <p>In <b>File dialog</b>, select file to import.</p>
        </div>
        <div class="l2">
          <h5>Export Connection Profile</h5>
          <div class="l3">
            <p><b>From side panel menu</b>, below the side panel, press on 3-dots icon <span class="symbolic symbolic-big">&vellip;</span> or <span class="symbolic">&hellip;</span> on Mac, click on <b>&quot;Export Profiles&hellip;&quot;</b></p>
            <p><b>From side panel profile</b> you want to export, open the context menu and click on <b>&quot;Export Profile&quot;</b></p>
          </div>
          <p>In <b>File dialog</b>, select the location where you want to export connection profiles.</p>
        </div>
      </div>
      <div id="preferences" class="l1">
        <h3>Preferences settings</h3>
        <p><b>Preferences</b> tab contains all the settings related to the appearance and behavior of the software.</p>
        <p>To save settings press <b>&quot;Save&quot;</b>, to cancel <b>&quot;Cancel&quot;</b>.</p>
        <div class="l2">
          <h5>General</h5>
          <p><b>General</b> group contains the following preferences:</p>
          <ul>
            <li><b>Check for updates on launch</b>, on / off</li>
            <li><b>Show confirmation messages when deleting</b>, on / off</li>
          </ul>
        </div>
        <div class="info">
          <p>Note: <b>Check for updates</b> will connect to GitHub servers to the repository address, host name: <em>github.com</em> <br>The feature <i>Do Not Track</i> is used, but there is no warranty it will be applied.</p>
          <p>The preference <b>&quot;Check for updates on launch&quot;</b> is turned off by default.</p>
        </div>
        <div class="l2">
          <h5>Language</h5>
          <p><b>Language</b> group contains language settings.</p>
          <p>System detected language is selected by default.</p>
          <ul>
            <li><b>&quot;Default (system language)&quot;</b>, <i>auto</i>, selected by default</li>
            <li>...</li>
          </ul>
        </div>
        <div class="l2">
          <h5>Theme</h5>
          <p><b>Theme</b> group contains settings related to the appearance of the software.</p>
          <ul>
            <li><b>&quot;Default (system theme)&quot;</b>, <i>auto</i>, selected by default</li>
            <li><b><b>&quot;Dark&quot;</b> variant</b>, dark theme</li>
            <li><b><b>&quot;Light&quot;</b> variant</b>, light theme</li>
          </ul>
        </div>
        <div class="l2">
          <h5>Drag and Drop</h5>
          <p><b>Drag and Drop</b> group contains settings related to Drag and Drop behavior.</p>
          <ul>
            <li><b>Switch to current bouquet item after the drop</b>, on / off</li>
          </ul>
          <p>Channel operations, choice:</p>
          <ul>
            <li><b>Copy channels</b> (preserving)</li>
            <li><b>Move channels</b> (deleting)</li>
          </ul>
        </div>
        <div class="l2">
          <h5>Picons editor</h5>
          <p><b>Picons editor</b> group contains settings related to the behavior of Picons Editor.</p>
          <ul>
            <li><b>Backup picon when replaced</b>, on / off</li>
          </ul>
          <p>Filename format, choice:</p>
          <ul>
            <li><b>Use reference ID</b>, will generate picon using Reference ID, eg. <span translate="no">1_1_0_10_1234_13E_820000_0_0_0.png</span></li>
            <li><b>Use service name</b>, will generate picon using channel Service Name, eg. <span translate="no">ribasports.png</span></li>
          </ul>
        </div>
      </div>
      <div id="engine" class="l1">
        <h3>Engine settings</h3>
        <p>The <b>&quot;Engine&quot;</b> tab contains all preferences related to the behavior of the engine contained in the software.</p>
        <p>To save settings press <b>&quot;Save&quot;</b>, to cancel <b>&quot;Cancel&quot;</b>.</p>
        <div class="l2">
          <h5>Settings</h5>
          <p><b>Settings</b> group contains preferences related to settings.</p>
          <ul>
            <li><b>Default format</b>, selector</li>
            <li><b>Parental lock whitelist (exclusion instead inclusion list)</b>, on / off</li>
          </ul>
          <p>Select a default format with which new channel lists will be created.</p>
          <p><b>&quot;Default format&quot;</b> selector contains these options:</p>
          <ul>
            <li>Lamedb 2.4 [Enigma 2]</li>
            <li>Lamedb 2.5 [Enigma 2]</li>
            <li>Lamedb 2.3 [Enigma 1]</li>
            <li>Lamedb 2.2 [Enigma 1]</li>
            <li>Zapit api-v4 [Neutrino]</li>
            <li>Zapit api-v3 [Neutrino]</li>
            <li>Zapit api-v2 [Neutrino]</li>
            <li>Zapit api-v1 [Neutrino]</li>
          </ul>
        </div>
        <div class="l2">
          <h5>Preferences</h5>
          <p><b>Preferences</b> group contains preferences related to engine behaviour.</p>
          <ul>
            <li><b>Use a global marker index (will change ID for markers)</b>, on / off</li>
            <li><b>Sort by ID when merging lists (slower merge)</b>, on / off</li>
            <li><b>Match favourite reference with services</b>, on / off</li>
          </ul>
        </div>
        <div class="l2">
          <h5>Tools</h5>
          <p><b>Tools</b> group contains preferences related to tools: import and export.</p>
          <ul>
            <li><b>CSV Import/Export</b>, preferences related to CSV</li>
            <li><b>Fields Import/Export</b>, preferences related to fields to import / export</li>
          </ul>
        </div>
      </div>
      <div id="advanced" class="l1">
        <h3>Advanced settings</h3>
        <p><b>&quot;Advanced&quot;</b> tab gives access to the advanced settings of the software.</p>
        <p>A cautionary warning will be shown, you should [confirm] to access advanced settings.</p>
        <div class="l2">
          <p><em>Recommendation: Do not do this if you do not understand what you are doing.</em></p>
          <p>In the editable table, <b>double-click</b> on the cell in the <span translate="no">VALUE</span> column to change the value.</p>
          <p>For boolean values (<span translate="no">TRUE</span> or <span translate="no">FALSE</span>), input text: <samp translate="no">true</samp> or <samp translate="no">false</samp>.</p>
          <p>To save the settings press <b>&quot;Save&quot;</b>, to cancel <b>&quot;Cancel&quot;</b>.</p>
        </div>
      </div>
      <div id="reset-settings" class="l1">
        <h3>Reset settings</h3>
        <p>The software can be reset to factory settings.</p>
        <p><b>All settings previously saved will be erased.</b></p>
        <div class="l2">
          <p><em>Recommendation: Do not do this if you do not understand what you are doing.</em></p>
          <p>To reset to factory settings, go to <b>&quot;Settings&quot;</b> &gt; <b>Advanced</b> &gt; [confirm].</p>
          <p>Change the <samp translate="no">settings.reset</samp> line from <span translate="no">FALSE</span> to <span translate="no">TRUE</span>, typing <samp translate="no">true</samp>.</p>
          <p>Save your settings by pressing <b>&quot;Save&quot;</b> and close the software.</p>
        </div>
        <p>The next time the software is opened it will be reset to factory defaults.</p>
      </div>
      <div class="info">
        <p><b>macOS</b> Preferences are stored in the user Library, with the identifiers: <i>com.io-github-ctlcltd.e2se</i> (software settings), <i>io.github.ctlcltd.e2se</i> (OS related preferences)</p>
        <p><b>Windows</b> Since software version 1.2, preferences are stored in the software executable directory, with the identifier: <i>e2 SAT Editor Team/e2se.ini</i></p>
        <p><b>Other (XDG specification)</b> Preferences are stored in the default XDG preference folder, with the identifier: <i>e2 SAT Editor Team</i></p>
        <p>To manually edit the settings file, please refer to the Qt toolkit documentation at: <a href="https://doc.qt.io/qt-6/qsettings.html#platform-specific-notes" rel="nofollow noopener" target="_blank">https://doc.qt.io/qt-6/qsettings.html#platform-specific-notes</a></p>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
