<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
      <h1>Online Help</h1>
      <h2>Transponder operations</h2>
      <p>How to edit and create transponders, edit and move transponders.</p>
      <p>Move, modify, delete transponders. <br>Move, edit, delete positions [XML only].</p>
      <p>Import, export settings.</p>
      <div class="info">
        <span class="read"><svg width="32" height="32"><use href="#read" fill="currentColor"/></svg></span>
        <p>First you could read <a href="quick-start.html">Quick Start</a> page of online help for a quick introduction, with basic notions: context menu, Drag and Drop, multiple selection.</p>
      </div>
      <hr id="transponders">
      <div id="transponder-sort" class="l1">
        <h3>Transponder sorting</h3>
        <p>Transponders can be sorted according to the column name (e.g. sorted by <i>Frequency 0-9</i> or <i>Frequency 9-0</i>) in ascending and descending order.</p>
        <p>To use the sort click on <b>column name</b> in the tree view, inside the <b>Transponders</b> area.</p>
      </div>
      <div id="move-transponders" class="l1">
        <h3>Move transponders</h3>
        <p>The transponders move with <b>Drag and Drop</b>, or alternatively with the <b>Cut - Copy - Paste</b> functionality.</p>
        <p>Select transponders then drag them with the mouse cursor to the desired position.</p>
        <p>For <b>multiple selection</b> press <kbd>Ctrl</kbd> on keyboard, or <kbd><span class="symbol">&#8984;</span> command</kbd> on a Mac keyboard, for <b>continuous selection</b> press <kbd><span class="symbol">&#8679;</span> Shift</kbd> on keyboard, and select services, channels, markers with the mouse or touchpad, then drag them into transponder item.</p>
        <p><span class="type">[XML only]</span> Note: <i>It is not possible to move transponders to other positions (satellites).</i></p>
      </div>
      <div id="create-transponder" class="l1">
        <h3>Create transponder</h3>
        <p>To create a transponder, click on <b>&quot;+ New Transponder&quot;</b>.</p>
        <p>In <b>dialog</b>, enter the transponder parameters, then press <b>&quot;Save&quot;</b>.</p>
        <p><span class="type">[XML only]</span> <i>The transponder will be added at the current position.</i></p>
        <div class="">
          <p>For further information, view <a href="edit-transponder.html">Edit Transponders</a> page of online help.</p>
        </div>
      </div>
      <div id="edit-transponder" class="l1">
        <h3>Edit transponder</h3>
        <p>Select the transponder to edit, open the context menu and click on <b>&quot;Edit Transponder&quot;</b>.</p>
        <p>In <b>dialog</b>, edit the transponder parameters, then press <b>&quot;Save&quot;</b>.</p>
        <div class="">
          <p>For further information, view <a href="edit-transponder.html">Edit Transponders</a> page of online help.</p>
        </div>
        <p>Transponder can be quickly changed by <b>double-click</b>ing on selected service channel.</p>
        <p>Note: <i>Transponder parameters will be changed for any service associated with the transponder.</i></p>
      </div>
      <div id="delete-transponder" class="l1">
        <h3>Delete transponder</h3>
        <p>To delete a transponder, select the transponders, open the context menu and click on <b>&quot;Delete&quot;</b>.</p>
        <p><span class="type">[XML only]</span> <i>The transponder will be deleted from the current position.</i></p>
        <p>Transponder can also be deleted with keyboard by pressing on <kbd><span class="symbol">&#8676;</span> Backspace</kbd>, <kbd>Del</kbd>, <kbd>Delete</kbd>, depending on system and keyboard used.</p>
        <p>Note: <i>The services associated with the transponder will be orphaned.</i></p>
      </div>
      <hr id="settings-xml">
      <div id="edit-settings" class="l1">
        <h3>Edit settings <span class="type">[XML only]</span></h3>
        <p>To edit the settings, click on icon <span class="icon"><svg width="16" height="16"><use href="#edit-tunersets" fill="currentColor"/></svg></span> in the <b>Positions</b> area.</p>
        <p>In <b>dialog</b>, modify the settings properties, then press <b>&quot;Save&quot;</b>.</p>
      </div>
      <div id="move-positions" class="l1">
        <h3>Move positions <span class="type">[XML only]</span></h3>
        <p>Positions move with <b>Drag and Drop</b>.</p>
        <p>Select the position then drag it with the mouse cursor to the desired position.</p>
        <p>Note: <i>Multiple selection is not available to move positions.</i></p>
      </div>
      <div id="edit-position" class="l1">
        <h3>Edit position <span class="type">[XML only]</span></h3>
        <p>Select the position to edit, open the context menu and click on <b>&quot;Edit Position&quot;</b>.</p>
        <p>In <b>dialog</b>, edit the position properties, then press <b>&quot;Save&quot;</b>.</p>
        <p>The position can be quickly changed by double-clicking on selected position.</p>
      </div>
      <div id="create-position" class="l1">
        <h3>Create position <span class="type">[XML only]</span></h3>
        <p>To create a position, click on <b>&quot;+ New Position&quot;</b>.</p>
        <p>In <b>dialog</b>, enter the position properties, then press <b>&quot;Save&quot;</b>.</p>
      </div>
      <div id="import-export" class="l1">
        <h3>Import and export <span class="type">[XML only]</span></h3>
        <p>To import and export settings.</p>
        <div class="l2">
          <h5>Import</h5>
          <p><b>From quick menu</b>, press <b>&quot;Import&quot;</b>.</p>
          <p><b>From main menu</b>, click menu <b>File</b> &gt; <b>Import</b> menu.</p>
          <p>In <b>File dialog</b> select the settings file to import.</p>
        </div>
        <div class="l2">
          <h5>Export</h5>
          <p><b>From quick menu</b>, press <b>&quot;Export&quot;</b>.</p>
          <p><b>From main menu</b>, click menu <b>File</b> &gt; <b>Export</b> menu.</p>
          <p>In <b>File dialog</b> select the location where you want to export settings.</p>
        </div>
      </div>
    </main>
{% render '_page-side.liquid' %}
  </div>
{% render '_page-foot.liquid' %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
