<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <div id="help">
    <main>
      <h1>Online Help</h1>
      <h2>Troubleshooting</h2>
      <p>How to solve problems, eg. dealing with FTP.</p>
      <div class="info">
        <span class="read"><svg width="32" height="32"><use href="#read" fill="currentColor"/></svg></span>
        <p>Before using the software you could read <a href="quick-start.html">Quick Start</a> page of online help for a brief introduction.</p>
      </div>
      <div class="table l1">
        <table>
          <tr id="installation">
            <td colspan="2"><strong>Installation</strong></td>
          </tr>
          <tr id="software-open">
            <td rowspan="2">Software does not open</td>
            <td>See <a href="install.html">Installation</a> in online help</td>
          </tr>
          <tr>
            <td>In case of incompatibility it is recommended to use the software in a virtual machine</td>
          </tr>
          <tr id="common">
            <td colspan="2"><strong>Common issues</strong></td>
          </tr>
          <tr id="software-issue">
            <td rowspan="3">Software crashes, freezes, does not work correctly</td>
            <td>Report an issue on the GitHub repository at <a href="https://github.com/ctlcltd/e2-sat-editor/issues" rel="nofollow" target="_blank">https://github.com/ctlcltd/e2-sat-editor/issues</a> <br>Attach a log if possible, refer to <a href="#view-software-logs">View software logs</a></td>
          </tr>
          <tr>
            <td>Check any error messages displayed</td>
          </tr>
          <tr>
            <td>Check that the version you are using is the latest, refer to <a href="#check-version">Check the version</a></td>
          </tr>
          <tr id="menu-issue">
            <td rowspan="2">Main menu items are grayed out</td>
            <td>A known issue, being resolved</td>
          </tr>
          <tr>
            <td>Open a new tab using <b>&quot;+ New Tab&quot;</b> and close it, menu items will become visible again</td>
          </tr>
          <tr id="ftp">
            <td colspan="2"><strong>FTP</strong></td>
          </tr>
          <tr id="ftp-connect">
            <td rowspan="9">FTP not connecting</td>
            <td>Check the cables connecting the Decoder (STB) to the local network</td>
          </tr>
          <tr>
            <td>Check your local network settings</td>
          </tr>
          <tr>
            <td>Check your firewall settings</td>
          </tr>
          <tr>
            <td>Verify the connection parameters to STB in <b>&quot;Settings&quot;</b> in the <b>Connections</b> tab</td>
          </tr>
          <tr>
            <td>Verify that the FTP connection and login parameters are correct</td>
          </tr>
          <tr>
            <td>Try to connect via HTTP with your browser to STB at its IP address, <i>when equipped with Webif</i></td>
          </tr>
          <tr>
            <td>Try to connect via FTP with an FTP client to STB at its IP address</td>
          </tr>
          <tr>
            <td>Attempt a connection with Passive FTP, unchecking Active FTP, and viceversa</td>
          </tr>
          <tr>
            <td>Press <b>&quot;Connect&quot;</b> and <b>&quot;Disconnect&quot;</b> in quick menu to attempt an FTP connection</td>
          </tr>
          <tr id="ftp-connect-next">
            <td rowspan="3">FTP not connecting, <br>after previous steps</td>
            <td>Restart the Decoder (STB) and if necessary restart the local network router</td>
          </tr>
          <tr>
            <td>Repeat all <a href="#ftp-connect">&quot;FTP not connecting&quot;</a> troubleshooting steps</td>
          </tr>
          <tr>
            <td>Report an issue on the GitHub repository at <a href="https://github.com/ctlcltd/e2-sat-editor/issues" rel="nofollow" target="_blank">https://github.com/ctlcltd/e2-sat-editor/issues</a> <br>Attach a log if possible, refer to <a href="#enable-ftp-debug">Enable FTP debug</a></td>
          </tr>
          <tr id="ftp-load">
            <td rowspan="4">FTP does not upload / download</td>
            <td>Check connection parameters to the Decoder (STB) in <b>&quot;Settings&quot;</b> in the <b>Connections</b> tab</td>
          </tr>
          <tr>
            <td>Verify the correctness of parameters in the <b>Configuration</b> group: Transponders, Services, Bouquets</td>
          </tr>
          <tr>
            <td>Press <b>&quot;Connect&quot;</b> and <b>&quot;Disconnect&quot;</b> in quick menu to attempt an FTP connection</td>
          </tr>
          <tr>
            <td>Note: <i>the software does not currently upload/download picons, these must be uploaded manually to the STB</i></td>
          </tr>
          <tr id="stb-update">
            <td rowspan="3">Decoder (STB) does not update channel lists</td>
            <td>Try to restart the STB manually, or if you have the specific parameters for STB, enter them, and follow the next steps</td>
          </tr>
          <tr>
            <td>Modify the parameters in the <b>Commands</b> group, in <b>&quot;Settings&quot;</b> in the <b>Connections</b> tab</td>
          </tr>
          <tr>
            <td>Enter the specific parameters for updating the STB lists, URL address and/or Telnet command</td>
          </tr>
          <tr id="file">
            <td colspan="2"><strong>File</strong></td>
          </tr>
          <tr id="file-open">
            <td rowspan="3">File does not open</td>
            <td>Check error messages displayed</td>
          </tr>
          <tr>
            <td>Verify the compatibility of the channel list file</td>
          </tr>
          <tr>
            <td>Verify read file permissions</td>
          </tr>
          <tr id="file-save">
            <td rowspan="3">File not saved</td>
            <td>Check error messages displayed</td>
          </tr>
          <tr>
            <td>Verify the compatibility of the channel list file</td>
          </tr>
          <tr>
            <td>Verify write and read file permissions</td>
          </tr>
          <tr id="interop">
            <td colspan="2"><strong>CSV / spreadsheet</strong></td>
          </tr>
          <tr id="csv-import">
            <td rowspan="2">CSV file not imported</td>
            <td>Verify CSV tabular structure has not been altered</td>
          </tr>
          <tr>
            <td>Make sure each row has the same number of columns</td>
          </tr>
          <tr id="clipboard-past">
            <td rowspan="2">Contents of clipboard not pasted</td>
            <td>Verify TSV tabular structure has not been altered</td>
          </tr>
          <tr>
            <td>Make sure each row has the same number of columns</td>
          </tr>
        </table>
      </div>
      <div id="check-version" class="lh">
        <h3>Check the version</h3>
        <p>Check that the version you are using is the most recent.</p>
        <div class="l2">
          <p><b>From main menu</b>, click menu <b>Help</b> &gt; <b>About e2 SAT Editor</b>.</p>
          <p>Check the version number and on the Releases page of the GitHub repository at <a href="https://github.com/ctlcltd/e2-sat-editor/release" rel="nofollow" target="_blank">https://github.com/ctlcltd/e2-sat-editor/release</a> for more recent updates.</p>
        </div>
        <p>With distributed installation (Snap Store, Flathub, Arch AUR), check for updates or reinstall the software. <br>See <a href="install.html">Installation</a> in online help.</p>
      </div>
      <div id="enable-ftp-debug" class="lh">
        <h3>Enable FTP debug</h3>
        <p>FTP debugging is disabled by default to avoid slowing down execution.</p>
        <p>It can be useful to solve problems and report issues on the GitHub repository at <a href="https://github.com/ctlcltd/e2-sat-editor/release" rel="nofollow" target="_blank">https://github.com/ctlcltd/e2-sat-editor/release</a></p>
        <p>Note: <i>FTP debugging may not be available on Windows PowerShell.</i></p>
        <div class="l2">
          <p><em>Recommendation: Do not do this if you do not understand what you are doing.</em></p>
          <div class="l3">
            <p>To enable FTP debugging, go to <b>&quot;Settings&quot;</b> &gt; <b>Advanced</b> &gt; [confirm].</p>
            <p>Change the <samp>ftpcom.debug</samp> line from FALSE to TRUE, typing <samp>true</samp>.</p>
            <p>Save your settings by pressing <b>&quot;Save&quot;</b> and close the software.</p>
          </div>
          <div class="l3">
            <p>Open a terminal window and launch the software from its current location.</p>
            <p>Press <b>&quot;Connect&quot;</b> and <b>&quot;Disconnect&quot;</b> from quick menu to attempt an FTP connection.</p>
            <p><i>All FTP messages will be shown in the terminal.</i></p>
          </div>
        </div>
        <div class="l2">
          <p>To attach the log to the issue, select all the output and <b>Copy</b>, <b>Paste</b> to a plain text file.</p>
          <p>Next, disable FTP debugging, change the <samp>ftpcom.debug</samp> line from TRUE to FALSE again, typing <samp>false</samp>.</p>
        </div>
      </div>
      <div id="view-logs" class="lh">
        <h3>View software logs</h3>
        <p>The software creates a log in memory.</p>
        <p>It can be useful to solve problems and report issues on the GitHub repository at <a href="https://github.com/ctlcltd/e2-sat-editor/issues" rel="nofollow" target="_blank">https://github.com/ctlcltd/e2-sat-editor/issues</a></p>
        <div class="l2">
          <p>To view the log, open <b>Inspector</b>.</p>
          <p><b>From main menu</b>, click menu <b>Tools</b> &gt; <b>Log Inspect</b>.</p>
          <div class="l3">
            <p><i>The log of the current execution will be shown in the dialog.</i></p>
            <p>To attach the log to the issue, select all the text and <b>Copy</b>, <b>Paste</b> into a plain text file.</p>
          </div>
        </div>
      </div>
      <div id="reset-settings" class="lh">
        <h3>Reset settings</h3>
        <p>The software can be reset to factory settings.</p>
        <p><b>All settings previously saved will be erased.</b></p>
        <div class="l2">
          <p><em>Recommendation: Do not do this if you do not understand what you are doing.</em></p>
          <p>To reset to factory settings, go to <b>&quot;Settings&quot;</b> &gt; <b>Advanced</b> &gt; [confirm].</p>
          <p>Change the <samp>settings.reset</samp> line from FALSE to TRUE, typing <samp>true</samp>.</p>
          <p>Save your settings by pressing <b>&quot;Save&quot;</b> and close the software.</p>
        </div>
        <p>The next time the software is opened it will be reset to factory defaults.</p>
      </div>
{% render '_page-dist.liquid', help_rev: help_rev %}
    </main>
{% render '_page-side.liquid' %}
  </div>{% unless distributable %}
{% render '_page-foot.liquid' %}{% endunless %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
