/* site/_custom.scss */

@use "sass:color";
@use "sass:string";
@use "../../scss/variant" as *;
@use "../../scss/util";

#page {
  max-width: 2048px;
  margin: 0 auto;
  padding: 2.5rem 0 0;
}

main {
  min-height: 80vh;
  padding: 1rem 1rem 2rem;
}
main a {
  color: inherit;
}

p {
  margin: 0 0 1rem;
}
b {
  font-size: 89%;
}
em, strong {
  font-size: 99%;
}
em {
  font-family: Arial, Helvetica, sans-serif;
}

ul, ol, dl {
  margin: -.3rem 0 1rem;
}
ul, ol {
  padding: 0;
}
ul {
  list-style-type: square;
}
li {
  margin: .3rem 1em 0;
}
dt {
  float: inline-start;
  margin: 0 .4rem 0 0;
}
dd {
  padding: 0;
}

hr {
  height: .75rem;
  margin: 2rem 0 1.5rem;
  border: 0;
  background: string.unquote("#8883");
}

mark, .lead {
  padding: .1rem .2rem;
  color: $color;
  background: #dff;
  border-radius: 1.5px;
}
.lead {
  display: inline;
  padding: .3rem .2rem;
}
.sym {
  font-size: .93rem;
  font-family: Arial, sans-serif;
}

.nowrap {
  white-space: nowrap;
}
.nobreak {
  word-break: break-all;
}

abbr {
  position: relative;
  cursor: help;
}
abbr:after {
  content: "?";
  position: relative;
  top: -.5em;
  margin: 0 .2em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  font-size: 70%;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border-radius: 1em;
  color: #888;
  background: #fff;
  z-index: 0;
}
.abbrbox {
  position: absolute;
  inset-inline: auto;
  display: block;
  margin: 0 !important;
  padding: .5em 1em !important;
  font-size: .8rem;
  border-radius: 7px;
  color: #fff;
  background: #444 !important;
  z-index: 1;

  .inner {
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
  }

  #lsa & { width: 80vw; max-width: 354px !important; }
  #epf & { width: 90vw; max-width: 346px !important; }
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .5rem;
  font-size: .9rem;
  color: util.color-hex-str(color.adjust(dimgray, $lightness: -22%));

  > div {
    margin: 0 0 1rem;
  }
  > div:last-child {
    width: 100%;
    padding: .7rem 0;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0 -.3rem;
    padding: 0;
    line-height: 2;
    list-style: none;
  }
  nav li {
    display: inline-block;
    margin: 0 .2rem;

    &.separator { width: .2rem; }
  }
  nav a {
    padding: .05rem .15rem;
    font-size: .95rem;
  }
  p {
    font-size: .8rem;
  }
  p .whoiam {
    margin: .2rem;
    font-size: .7rem;
  }

  nav a,
  button.text {
    color: util.color-hex-str(color.adjust(dimgray, $lightness: -22%));
    opacity: .95;
    transition: color linear 50ms;

    &:hover { color: #101010; }
    &:focus { color: #000; opacity: 1; }
  }
}

#head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  padding: .05rem .1rem .1rem;
  z-index: 10;
}
#head > div {
  position: relative;
  top: 0;
  z-index: 10;
}
#head button {
  height: 40.5px;
  padding: 0 .5rem;

  span, svg {
    display: inline-block;
    line-height: 40.5px;
  }
  svg {
    margin: -1px 0 0 0;
    vertical-align: middle;
  }
  span {
    margin: 0 1px;
  }
}

#btn-color {
  position: relative;
  padding: .75rem;
  text-transform: none;
  white-space: nowrap;
}
#btn-color .d {
  display: none;
}

.page {
  > p {
    font-size: .97rem;
  }

  > div {
    padding: 1rem 0;
  }
  div > div {
    margin: 1.2rem 0 0;
  }

  .lead {
    display: inline-block;
  }
}

#licenses {
  .license {
    position: relative;

    pre {
      max-width: 640px;
      max-height: 480px;
      padding: 0 0 3ch;
      font-size: 12px;
      white-space: break-spaces;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      max-width: 640px;
      width: 100%;
      height: 3ch;
      background: linear-gradient(0deg, #f9f9f9, string.unquote("transparent"));
    }
  }
}
.dark {
  #licenses {
    .license {
      &:after {
        background: linear-gradient(0deg, #0a0a0a, string.unquote("transparent"));
      }
    }
  }
}

#donate {
  > div {
    padding: .2rem 0 1rem;
  }
  div:last-child {
    margin: .5rem 0 0;

    p { font-size: .9rem; }
  }
}

.donate {
  display: block;
  width: fit-content;
}
.btn-pp {
  display: block;
  max-width: 100%;
}

@media (min-width: 992px) {
  #page {
    padding: 2.5rem 0 0;
  }

  main {
    padding: 2.5rem 5rem 4rem;
  }

  .abbrbox {
    inset-inline: 0 auto;
  }

  #footer {
    padding: 0 5rem;

    > div {
      margin: 0 0 1.5rem;
    }
    nav ul {
      line-height: 1.5;
    }
    p {
      font-size: .9rem;
    }
  }

  #head {
    position: absolute;
    height: 40.5px;
    padding: 0;
    background: string.unquote("transparent");
  }
  #head > div {
    position: fixed;
  }
  #head > div:first-child {
    inset-inline-start: 5rem;
  }
  #head > div:last-child {
    inset-inline-end: 5rem;
  }

  .page {
    max-width: 1200px;
    margin: auto;
    padding: 2.5rem .5rem 4rem;
  }

  #donate {
    margin: 0 4%;
    padding: 2.5rem 2rem 4rem;

    > div {
      padding: .5rem 0 2rem;
    }
  }

  .btn-pp-d {
    width: 320px;
    height: 60px;
  }
}

@media (min-width: 1320px) {
  #donate {
    margin: 0 8%;
  }
}

@media (min-width: 2440px) {
  body {
    zoom: 1.25;
  }
}
@media (min-width: 2848px) {
  body {
    zoom: 1.5;
  }
}
@media (min-width: 3088px) {
  body {
    zoom: 1.75;
  }
}
@media (min-width: 3840px) {
  body {
    zoom: 2;
  }
}

[dir="rtl"], .translated-rtl {
  a[target] {
    unicode-bidi: plaintext;
  }
}

@media print {
  main { min-height: unset; }
  #head { display: none; }
}

@mixin end {
  #btn-color {
    visibility: hidden;
  }
  [data-color] {
    #btn-color {
      visibility: visible;
    }
  }

  [data-lazy] img {
    display: none;
  }

  @media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    [data-lazy] {
      color: #000;
      background: #aaa;
    }
  }
}
