/* site/_variant.scss */

@mixin variant {
  color: $color;
  background: $background;


  // buttons

  button,
  .button {
    color: $button-color;
    background: $button-background;

    box-shadow: 0 0 .18rem $button-shadow-color;
    &:hover { box-shadow: 0 0 .18rem $button-shadow-color-hover; }
    &:focus { box-shadow: 0 .03rem .3rem $button-shadow-color-focus; }

    &[type="submit"],
    &.primary {
      color: $button-primary-color;
      background: $button-primary-background;
    }
    &.secondary {
      color: $button-secondary-color;
      background: $button-secondary-background;
    }
  }


  // custom

  #footer {
    color: color.adjust(lightgray, $lightness: 11%);

    nav a,
    button.text {
      color: color.adjust(lightgray, $lightness: 11%);
      &:hover { color: #eee; }
      &:focus { color: #fff; }
    }
  }

  #head {
    background: #181818;
  }

  #btn-color .d {
    display: inline-block;
  }
  #btn-color .l {
    display: none;
  }

  abbr:after {
    color: #aaa;
    background: #444;
  }
  .abbrbox {
    color: #000;
    background: #ddd !important;
  }

  .btn-pp .pp use { fill: #fff; }
  .btn-pp .pp use:nth-child(1) { fill: #b2b2b2; }
  .btn-pp .pp use:nth-child(2) { fill: #737373; }
  .btn-pp .s { stroke: #eee; }

  @media (min-width: 992px) {
    #head { background: #181818; }
  }


  // landing

  mark, .lead {
    color: #dff;
    background: #023;
  }

}
