<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">{% case templateName %}{% when "index" %}
<title>Translations</title>
<meta name="description" content="Translate the software, translation strings, .ts .po .pot sources">{% when "edit" %}
<title>Edit - Translations</title>{% when "add-language" %}
<title>Add language - Translations</title>{% endcase %}{% if deploy %}
<link rel="canonical" href="{% canonicalUrl %}">{% endif %}
<link rel="stylesheet" href="{{ '/style.css' | asset: deploy }}">
</head>