<div id="foot" class="ctrbar ctrbar-foot">
  <div id="ctrbar-add-language"{% unless templateName == "index" %} hidden{% endunless %}>
    <a class="button" href="add-language.html">Add new language</a>
  </div>
  <div id="ctrbar-submit-form" hidden>
    <form class="placeholder submit-form" action="?">
      <p>Don't forget to submit your translation edit</p>
      <button type="button" class="big primary submit">Submit</button>
    </form>
  </div>
</div>
<noscript>
<div class="message-box">
<p>Please enable JavaScript to work with this website</p>
</div>
</noscript>
<script src="/translate/script.min.js"></script>