<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_page-head.liquid' %}
<div id="page">
  <main class="page">
    <h1>Gone</h1>
    <p>This page is gone.</p>
    <p>Go to the <a href="/translate/">Translations</a> page index.</p>
  </main>
{% render '_page-foot.liquid' %}
</div>
{% render '_page-vars.liquid' %}
</body>
</html>
