<nav id="nav" class="nav" hidden>
  <a href=".">Main</a>
  <a href="?service">Service</a>
  <a href="?inspect">Inspect</a>
  <a href="?test">API Test</a>
  <a href="?logout">Logout</a>
</nav>
<script src="{{ 'script.js' | asset: deploy }}"></script>