<!DOCTYPE html>
<html lang="en">
{% render '_doc-head.liquid' %}
<body>
{% render '_layout.liquid', part: 'signin' %}
{% render '_layout.liquid', part: 'main' %}
{% render '_layout.liquid', part: 'view-service' %}
{% render '_layout.liquid', part: 'view-list' %}
{% render '_layout.liquid', part: 'view-edit' %}
{% render '_layout.liquid', part: 'api-test' %}
{% render '_page-vars.liquid' %}
</body>
</html>
