/* translate/_custom.scss */

#page {
  max-width: 2048px;
  margin: 0 auto;
  padding: 2.5rem 0 3rem;
}

main {
  min-height: 100vh;
  padding: 0 .5rem 2rem;
}
main > div {
  padding: 1rem 0;
}
main > div:first-child {
  margin: 0 0 .5rem;
  padding: 1.5rem 0 .5rem;
}

.beta {
  padding: 0 .1rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  vertical-align: sub;
}

p {
  margin: 0 0 1rem;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .5rem;
  font-size: .9rem;
  color: color.adjust(dimgray, $lightness: -22%);

  > div {
    width: 100%;
    min-width: 15ch;
    margin: 0 0 1rem;
  }
  > div:last-child {
    width: 100%;
    padding: .7rem 0;
  }
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0 -.3rem;
    padding: 0;
    line-height: 2;
    list-style: none;
  }
  nav li {
    display: inline-block;
    margin: 0 .2rem;

    &.separator { width: .2rem; }
  }
  nav a {
    padding: .05rem .15rem;
    font-size: .95rem;
  }
  p {
    font-size: .8rem;
  }
  p .whoiam {
    margin: .2rem;
    font-size: .7rem;
  }

  nav a,
  button.text {
    transition: color linear 50ms;

    color: color.adjust(dimgray, $lightness: -22%); opacity: .95;
    &:hover { color: #101010; }
    &:focus { color: #000; opacity: 1; }
  }
}
.dark {
  #footer {
    color: color.adjust(lightgray, $lightness: 11%);

    nav a,
    button.text {
      color: color.adjust(lightgray, $lightness: 11%);
      &:hover { color: #eee; }
      &:focus { color: #fff; }
    }
  }
}

.ctrbar {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  z-index: 10;
}
.dark {
  .ctrbar-head,
  .ctrbar-foot {
    background: #181818;
  }
}
.ctrbar > div {
  position: relative;
  z-index: 10;
}
.ctrbar-head,
.ctrbar-head > div {
  top: 0;
}
.ctrbar-foot,
.ctrbar-foot > div {
  bottom: 0;
}
.ctrbar-head {
  padding: .05rem .1rem .1rem;
}
.ctrbar-foot {
  padding: .1rem .1rem .05rem;
}

.ctrbar form {
  position: relative;
  margin: 0;
  padding: 0;
}
.ctrbar form > p {
  display: none;
  margin: 0 1rem;
  padding: 0 .25rem;
  background: rgba(255, 255, 255, .95);
}
.dark {
  .ctrbar form > p {
    background: rgba(0, 0, 0, .75);
  }
}

body {
  .ctrbar-head {
    opacity: 1;
    visibility: visible;
    transition: all linear 75ms;
  }

  &.ndm .ctrbar-head {
    opacity: 0;
    visibility: hidden;
  }
}

.what-this {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 0;
  top: 4px;
  inset-inline-end: 1px;
  text-align: center;
  cursor: help;

  &:before {
    content: "?";
    position: relative;
    top: .5px;
    line-height: 32px;
    font-size: 15px;
    font-weight: bold;
    text-rendering: geometricPrecision;
    opacity: .72;
  }
  &:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    box-shadow: 0 0 .116rem currentColor;
  }
  &:hover ~ .what-this-area,
  &:focus ~ .what-this-area {
    opacity: 1;
    visibility: visible;
  }
}
.what-this-area {
  position: absolute;
  min-width: 75vw;
  padding: 1rem .5rem;
  transition: all ease-out 200ms;
  opacity: 0;
  visibility: hidden;
  color: #101010;
  background: #fff;
  box-shadow: 0 .1em 1rem .5rem rgba(0, 0, 0, .1);
  z-index: -1;

  h5 { margin: 0 0 .5rem; }
  p { margin: 0 0 .25rem; }
}
.dark {
  .what-this-area {
    color: #fcfcfc;
    background: #222;
    box-shadow: 0 .1em 1rem .5rem rgba(0, 0, 0, .2);
  }
}

#token {
  width: 52vw;
  max-width: 240px;
  height: 40.5px;
  margin: 0;
  padding: .5rem;
  padding-inline-end: 32px;
}

#btn-color {
  position: relative;
  padding: .75rem;
  padding-inline-start: 2.25rem;
  text-transform: none;
  white-space: nowrap;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset-inline-start: .75rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 16px;
    overflow: hidden;
    transform: scaleX(-1);
  }
  &:after {
    width: 0;
    margin: 1px 0;
    border-width: 0 9px;
    border-right-color: transparent;
    border-left-color: currentColor;
  }
}
.dark {
  #btn-color:after {
    border-right-color: currentColor;
    border-left-color: transparent;
  }
}

table.placeholder {
  visibility: visible;
}
table.placeholder thead,
table.placeholder tbody tr:not(tbody:first-child) {
  visibility: hidden;
}

#main th:last-of-type {
  font-weight: bold;
}
#main table td:nth-child(1) {
  font-style: italic;
}

tbody td:nth-child(2) {
  font-size: .82rem;
}
tbody tr[data-type="2"] td:nth-child(3) {
  font-size: .85rem;
}
tbody tr[data-type="2"][data-dir="rtl"] td:nth-child(3) {
  font-size: 1.1rem;
}

#edit-translate table td:nth-child(2) {
  font-size: .86rem;
}
#edit-translate table[data-type="2"] td:nth-child(3) .input {
  font-size: .93rem;
}
#edit-translate table[data-type="2"][data-dir="rtl"] td:nth-child(3) .input {
  font-size: 1rem;
}

#edit-translate .inline-edit {
  display: block;
  min-height: 42px;
  margin: 0 -.5rem;
}
#edit-translate table td:nth-child(1),
#edit-translate table td:nth-child(5),
#edit-translate table td:nth-child(7) {
  opacity: .6;
  white-space: pre;
}
#edit-translate table td:nth-child(6) {
  opacity: .7;
}
#edit-translate table td:nth-child(2) {
  min-width: 13vw;
}
#edit-translate table td:nth-child(3) {
  min-width: 22vw;
}
#edit-translate table td:nth-child(7) {
  white-space: nowrap;
}

label {
  font-size: .9rem;
}

.status {
  font-size: .7rem;
  font-weight: bold;
}
.status-unfinished { color: darken(lighten(dimgray, 11%), 2%); }
.status-completed { color: color.adjust(seagreen, $lightness: 3%); }
.status-vanished { color: color.adjust(lightsteelblue, $lightness: -22%); }

.level {
  position: relative;
  display: block;
  min-width: 70px;
  width: 7vw;
  height: 18px;
  background: #f0f0f0;
  box-shadow: inset 0 0 1px currentColor;
  filter: opacity(.72);

  &:before {
    content: "";
    position: relative;
    top: 1px;
    display: block;
    width: 0;
    height: 16px;
    margin: 1px;
    background: linear-gradient(90deg, darken(lighten(lightseagreen, 22%), 11%), lighten(darken(limegreen, 16%), 14%));
    transition: width ease .5s;
    transition-delay: var(--delay);
  }
  [data-animated] &:before {
    width: 0 !important;
  }
  [data-rendered] &:before {
    width: calc(.95 * var(--completed));
  }
}
.dark {
  .level { background: #222; }
}
.revised .level {
  filter: none;
}

span.revised {
  text-transform: uppercase;
}
.revised span.revised {
  font-size: 95%;
}

.message-box {
  position: fixed;
  width: 60ch;
  max-width: 80%;
  padding: 2rem 1.5rem;
  background: #fff;
  text-align: center;
  box-shadow: 0 .2rem 2.2rem .2rem rgba(0, 0, 0, .11);
  transform: translateX(-50%);
  z-index: 11;

  &.top { inset: 30% 50% auto; }
  &.center { inset: 50% 50% auto; }
  &, &.bottom { inset: auto 50% 30%; }

  p {
    font-size: 14px;
    margin: 0 0 .5rem;
    opacity: .7;

    &:last-child { margin: 0; }
  }
  .feedback {
    margin: 1.75rem 0 -.5rem;
  }
}
.dark {
  .message-box {
    background: #262626;
    box-shadow: 0 .2rem 2.2rem .2rem rgba(0, 0, 0, .33);
  }
}

.backdrop {
  user-select: none;
  overflow: hidden;

  #page {
    filter: opacity(.3);
  }
  #page:before,
  #page:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 10;
  }
}
#page {
  transition: filter linear 50ms;
}

@media (min-width: 992px) {
  #page {
    padding: 2.5rem 0 6rem;
  }

  main {
    padding: 0 0 4rem;
  }

  #main > div:first-child {
    padding: 3rem 1rem 1.5rem;
  }
  #edit-translate > div:first-child {
    padding: 3rem 0 1.5rem;
  }
  #add-language > div:first-child {
    padding: 3rem 5rem 1.5rem;
  }

  h2 {
    padding: 0 1rem;
  }

  #footer {
    padding: 0 5rem;

    > div {
      width: auto;
      margin: 0 0 1.5rem;
    }
    nav ul {
      line-height: 1.5;
    }
    p {
      font-size: .9rem;
    }
  }

  .ctrbar {
    position: static;
    padding: 0;
  }
  .ctrbar > div {
    position: fixed;
  }
  .ctrbar > div:first-child {
    inset-inline-start: 1rem;
  }
  .ctrbar > div:last-child {
    inset-inline-end: 1rem;
  }

  .ctrbar-head { background: #fff; }
  .ctrbar-foot { background: none; }
  .dark {
    .ctrbar-head { background: #181818; }
    .ctrbar-foot { background: none; }
  }

  .ctrbar-foot > div {
    padding: 0 0 2rem;
  }
  .ctrbar form > p {
    display: inline-block;
  }

  .what-this-area {
    min-width: 33vw;
  }
}

@media (min-width: 2440px) {
  body {
    zoom: 1.25;
  }
}
@media (min-width: 2848px) {
  body {
    zoom: 1.5;
  }
}
@media (min-width: 3088px) {
  body {
    zoom: 1.75;
  }
}
@media (min-width: 3840px) {
  body {
    zoom: 2;
  }
}

@media print {
  main { min-height: unset; }
  .ctrbar { display: none; }
}
