/* help/_help.scss */

@use "sass:string";

#help {
  margin: auto;
  padding: 0 0 2rem;
}
#help main {
  position: relative;
  inset: 0;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
}
#help p {
  font-size: .9rem;
}

.l1 {
  padding: 2rem 0 .5rem;
}
.l2 {
  padding: .5rem 0 1.5rem;
}
.l3 {
  padding: .5rem 0 .75rem;
}
.lh {
  padding: 2rem 0 1.5rem;
}
.ls {
  padding: 1rem 0 .25rem;
}
.l2:last-child,
.l3:last-child {
  padding-bottom: 0;
}

#side {
  position: fixed;
  inset: 40.5px auto 0;
  inset-inline-end: 0;
  width: 0;
  background: #f9f9f9;
  transition: width linear 150ms;
  z-index: 5;
}
#side aside {
  display: none;
  width: 36ch;

  &.on { display: block; }
}
#side aside + aside {
  margin: 0 0 2.5rem;
}
#side h4 {
  margin: .5rem -.05rem .25rem;
  padding: 0 .5rem;
}
#side a {
  color: currentColor;
}

.offcanvas {
  overflow-y: hidden;
}
.offcanvas #side {
  width: 36ch;
}
.offcanvas.off #side {
  display: none;
  transition: none;
}
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 0;
}

#toc {
  height: 100%;
}
.nav-side {
  position: relative;
  height: 100%;
  padding: 0 0 15ch;
  overflow-x: hidden;
  overflow-y: scroll;

  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2ch;
    background: linear-gradient(0deg, #f9f9f9, transparent);
  }
}

#language a {
  display: block;
  padding: .5rem;
}

.nav ul {
  margin: 0;
  list-style: none;
}
.nav li {
  margin: 0;
}
.nav-index ul {
  display: grid;
  grid-gap: 1rem .7rem;
  margin: 1.5rem 0;
}
.nav-index li {
  display: inline-grid;
}
.nav-index a {
  text-decoration: none;
}
.nav-index h3 {
  text-decoration: underline;
}
.nav-index h3 {
  margin: 0 0 .5rem;
  font-size: 1rem;
}
.nav-index p {
  margin: 0 0 .1rem;
}

.toc a {
  margin: .1rem 0;
  padding: .2rem 1rem;
}
.toc > li > a {
  display: block;
  margin: 0;
  padding: .5em 1rem;
  border: 1px solid;
}
.toc ul {
  margin: .7rem 0 1rem;
}
.chapter {
  font-weight: bold;
  font-size: .91rem;
}

samp,
code,
.icon {
  background: #ddd;
  border-radius: 3px;
}
samp,
code {
  padding: .1rem .2rem;
}
samp {
  font-family: inherit;
  font-size: 96%;
}
code {
  display: inline-block;
  font-size: 78%;
}
code:before {
  content: "~$ ";
}
.icon {
  display: inline-block;
  padding: .1rem .4rem;
  line-height: 1;
  vertical-align: middle;
}

kbd {
  display: inline-block;
  margin: .05rem;
  padding: .05rem .4rem;
  font-family: inherit;
  font-weight: bold;
  font-size: .85rem;
  border-radius: 2px;
  white-space: nowrap;
  color: #fff;
  background: #444;
}
kbd .symbol {
  margin: 0 -.1rem;
}

.symbolic {
  margin: 0 .2rem;
  font-weight: bold;
  font-size: 135%;
}
.symbolic-big
{
  font-size: 170%;
}

.image {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: fit-content;
  margin: .5rem 0 0;
  overflow-x: auto;
  overflow-y: hidden;

  div {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    background: #f9f9f9;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    inset-inline-start: unset;
    inset-inline-end: 0;
    display: block;
    height: 100%;
    width: 5vw;
    background: linear-gradient(90deg, transparent, #f9f9f9);
  }
  svg {
    display: block;
    margin-inline-end: 5vw;
    pointer-events: none;
    user-select: none;
  }
}

table {
  border-collapse: collapse;
}
td {
  padding: .2rem .1rem;
  border: 0;
  vertical-align: top;
}

.table {
  position: relative;
  display: block;
  margin: 0 0 1rem;
  padding: 0 0 2rem;
  border: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  > table {
    width: 100%;
  }
  [id] td {
    padding-top: .8rem;
    padding-inline-end: 1rem;
  }
}

.info {
  display: block;
  margin: 2rem 0 1.5rem;
  padding: .7rem;
  background: string.unquote("#8883");
  opacity: .96;

  &.info-read {
    display: flex;
    flex-direction: row;
  }
  p:last-child {
    margin: 0;
  }
}
.read {
  margin-inline-end: .5rem;
}

.type {
  margin: 0 .25rem;
  padding: .1rem .2rem;
  font-size: 81%;
  background: string.unquote("#8883");
  opacity: .85;
}

@media screen {
  .toc > li > a {
    border-color: #fff;
    background: #eee;
  }
}

@media (min-width: 672px) {
  .image {
    &:after {
      content: none;
    }
    svg {
      margin: 0;
    }
  }
}

@media (min-width: 992px) {
  #help main {
    inset-inline-end: 32ch;
    max-width: 720px;
    margin-inline-start: 4%;
    margin-inline-end: 38ch;
    padding: 1rem 2rem 4rem;
  }
  #side {
    top: 0;
    display: flex;
    flex-direction: column;
    width: 32ch;
    padding: 4rem 0 0 0;
  }
  #side aside {
    display: block;
    width: auto;
  }
  #side h4 {
    margin: 0 -.05rem 1rem;
  }
  #toc {
    height: calc(100% - 9rem);
    order: 1;
  }

  .nav-index ul {
    grid-template-columns: 1fr 1fr;
  }
  .nav-index li {
    height: 12ch;
  }

  code {
    white-space: nowrap;
  }

  .table {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  #help main {
    inset-inline-end: 36ch;
    max-width: 960px;
    margin-inline-end: 42ch;
  }
  #help p {
    font-size: .95rem;
  }
  #side {
    width: 36ch;
  }
}

@media (min-width: 1320px) {
  #help main {
    margin-inline-start: 8%;
  }
}

@media print {
  #help main {
    max-width: unset;
  }
  #side {
    display: none;
  }
}
