/* help/_page.scss */

@import "../../scss/_common.scss";
@import "../../site/scss/_headings.scss";

button {
  display: inline-block;
  margin: auto;
  padding: .75rem 1.25rem;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $button-color;
  background: $button-background;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;

  box-shadow: 0 0 .18rem $button-shadow-color;
  &:hover { box-shadow: 0 0 .18rem $button-shadow-color-hover; }
  &:focus { box-shadow: 0 .03rem .3rem $button-shadow-color-focus; }
}
button + button {
  margin-inline-start: 2rem;
}

#page {
  max-width: 2048px;
  margin: 0 auto;
  padding: 2.5rem 0 0;
}

main {
  min-height: 80vh;
  padding: 0 .5rem 2rem;
}
main a {
  color: inherit;
}

p {
  margin: 0 0 1rem;
}
b {
  font-size: 89%;
}
em, strong {
  font-size: 99%;
}
em {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: -.3rem 0 1rem;
  padding: 0;
  list-style-type: square;
}
li {
  margin: .3rem 1em 0;
}

mark, .lead {
  padding: .1rem .2rem;
  color: $color;
  background: #dff;
  border-radius: 1.5px;
}
.lead {
  display: inline;
  padding: .3rem .2rem;
}

#head {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  padding: .05rem .1rem .1rem;
  z-index: 10;
}
#head > div {
  position: relative;
  top: 0;
  z-index: 10;
}
#head button {
  height: 40.5px;
  padding: 0 .5rem;

  span, svg {
    display: inline-block;
    line-height: 40.5px;
  }
  svg {
    margin: -1px 0 0 0;
    vertical-align: middle;
  }
  span {
    margin: 0 1px;
  }
}
#head svg {
  display: block;
}

@media (min-width: 992px) {
  #page {
    padding: 2.5rem 0 0;
  }

  #head {
    position: static;
    padding: 0;
    background: #fff;
  }
  #head > div {
    position: fixed;
    inset-inline-start: 5rem;
  }
}

@media print {
  main { min-height: unset; }
  #head { display: none; }
}
