/* help/_variant.scss */

@mixin variant {
  color: $color;
  background: $background;


  // buttons

  button {
    color: $button-color;
    background: $button-background;

    box-shadow: 0 0 .18rem $button-shadow-color;
    &:hover { box-shadow: 0 0 .18rem $button-shadow-color-hover; }
    &:focus { box-shadow: 0 .03rem .3rem $button-shadow-color-focus; }
  }


  // landing

  mark, .lead {
    color: #dff;
    background: #023;
  }


  // custom

  #head {
    background: #181818;
  }

}

@mixin custom_variant_dark {
  #side {
    background: #0a0a0a;
  }
  .nav-side {
    &:after {
      background: linear-gradient(0deg, #0a0a0a, transparent);
    }
  }

  @media screen {
    .toc > li > a {
      border-color: #101010;
      background: #222;
    }
  }

  samp,
  code,
  .icon {
    background: #555;
  }

  .image {
    &:after {
      background: linear-gradient(90deg, transparent, #0a0a0a);
    }
    svg {
      background: #0a0a0a;
    }
    [stroke] {
      stroke: #fff;
    }
    [fill="#dff"] {
      fill: #023;
    }
    text.mark {
      fill: #dff;
    }
    ellipse[stroke] {
      stroke: #dff;
    }
    text {
      fill: #fff;
    }
  }
}
