
svg {}

/* safari: unsupported */
text { user-select: none; }



.m .divid { stroke: #000; stroke-opacity: 0.3; stroke-width: 1px; stroke-style: dashed; stroke-dasharray: 1px 3px; }
.m #statusbar .divid { display: none; }
.dm .divid { stroke: #fff; }
.m .btn-bg { stroke-width: 0.4px !important; }


.dm text { fill: #fff !important; }
.dm #t-txt { fill: #bcbebe !important; }

.dm #t-bg { fill: #404242 !important; stroke: #787979 !important; }
.dm #w-bg, .dm #menu-bg { fill: #313333 !important; }
.dm #sb-bg, .dm #tb-bg, .dm #main-bg { fill: #2f3131 !important; }

.dm #ss-bg, .dm #tb-corner .bg { fill: #485352 !important; }

.dm .tree-vp .bg { fill: #171717 !important; }

.dm #side-tool .bg { fill: #313837 !important; }
.dm #tree-tool .bg { fill: #202121 !important; }
.dm .ts-bg { fill: #101010 !important; }

.dm .btn-bg { fill: #fff !important; fill-opacity: 0.24 !important; stroke: url(#btn-stroke-d-m) !important; }
.dm .btn-bg { filter: url(#btn-shadow-d-m) !important; }
.dm .input-bg { fill: #fff !important; fill-opacity: 0.08 !important; stroke: #fff !important; stroke-opacity: .11; }

.dm .tb-button rect { fill: url(#btn-bg-d-m) !important; }
.dm .find-bg, .dm .tree-cols .bg { fill: #323232 !important; }
.dm .find-h-bg { fill: #25456c !important; }

.dm #t-ctrs-m ellipse { stroke: none !important; }
.dm #t-stroke { stroke: #000 !important; }
.dm #sb-stroke, .dm #main-stroke { stroke: #404242 !important; }
.dm .tb-button rect { stroke: #fff !important; stroke-opacity: 0.23;  }
.dm .tb-tab .bg { fill: #323232 !important; stroke: #3e3e3e !important; }
.dm #menu-stroke { stroke: #324040 !important; }
.dm #side-tool .stroke { stroke: #3a4140 !important; }
.dm #tree-tool .stroke { stroke: #2d2e2e !important; }

.dm #w-shade { stroke-opacity: 0.24 !important; }

.dm .tb-button text { fill-opacity: 0.89; }
.dm .menu-item text, .dm .tool-txt { fill-opacity: 0.89; text-shadow: 0 0.5px 1px #090909; }
.dm .menu-item .btn-txt { text-shadow: none; }
.dm .btn-txt, .dm .find-txt { fill-opacity: 0.78 !important; }
.dm .find-h-txt { fill: #323232 !important; }

.dm .tb-button .ico use { fill: #dad4d6 !important; }
.dm .tb-tab .ico use { fill: #646464 !important; }
.dm .tb-tab .tb-ico use { fill: #fff !important; }
.dm .tb-tab.active .ico use { fill: #fff !important; }
.dm .menu-item .ico use { fill: #c7c8c8 !important; }
.dm #split-start .ico use { fill: #ced0d0 !important; }
.dm #split-end .ico use { fill: #c7c7c7 !important; }

.dm .btn-caret rect { fill: url(#btn-bg-a-d-m) !important; stroke: url(#btn-stroke-d-m) !important; }

.dm .tb-tab.active .bg { fill: #2a4f7b !important; stroke: #234065 !important; }
.dm #tb-start { fill: #3a5165 !important; }
.dm #tb-end { fill: #3a3a3a !important; }

.dm #split ellipse { fill: #444646 !important; }
.dm #split-start .focused { fill: #596362 !important; }
.dm #split-end .focused { fill: #023acd !important; }

.dm .sbv .xy { fill: #8b8b8b !important; }






.w { font-family: 'Segoe UI', 'Serif', Tahoma, sans-serif !important; }

.w #t-ctrs-m { display: none; }
.w #t-ctrs-w, .w #t-ico-w { display: block !important; }

.w #menubar, .w .arrow-w { display: block !important; }
.w #w-shade, .w #mb-bg, .w #split ellipse, .w .arrow-m { display: none !important; }

.w #w-bg, .w #w-stroke, .w #w-shade, .w #t-bg, .w #sb-bg { rx: 0; }

.w .btn-caret .bg { fill: none !important; stroke: none !important; }

.w .divid { width: 1.2px; fill: #d5d5d5 !important; stroke: none !important; }
.w #sbcb-w { clip-path: inset(0 27px 27px 0); }
.w #sbcb-w rect { fill: #d5d5d5 !important; transform: matrix(-0.8, -1, -1, 1, 52, 23); }

.w #w-bg { fill: #f0f0f0 !important; stroke: #a2b5ba !important; }
.w #t-bg { height: 92.5px; fill: #fff !important; stroke: none !important; }

.w #sb-bg, .w #tb-bg, .w #tb-corner .bg, .w #menu-bg, .w #ss-bg { fill: none !important; }
.w #main-bg, .w #side-tool .bg, .w #tree-tool .bg { fill: #f0f0f0 !important; }

.w #t-stroke { display: none; stroke: none !important; }
.w #t-txt { text-anchor: start; font-family: 'Segoe UI', 'Serif', Tahoma, sans-serif !important; font-weight: normal !important; font-size: 19.1px !important; letter-spacing: -0.1px; fill: #000 !important; transform: translate(-815px, 1.7px); }

.w .ellipsis { font-size: 97% !important; }
.w .ay { text-decoration: underline; }

.w #mb-txt { font-size: 19.3px !important; letter-spacing: -0.1px; word-spacing: 17px; transform: matrix(1, 0, 0, 1, -2, 7.3); }
.w #mb-stroke { display: none; fill: none !important; }

.w #tb-corner .bg { width: 106px; }
.w .tb-button { transform: translate(4px, 3px); }
.w .tb-button rect { width: 102px; height: 48px; transform: translate(5px, 2px); }
.w .tb-button text { font-size: 18px !important; }
.w #tb-tabs { transform: translate(1px, 0); }

.w .tb-tab .bg { fill: #f0f0f0 !important; stroke: #e2e2e2 !important; stroke-width: 2px !important; }
.w .tb-tab text { font-size: 19px !important; transform: translate(0, 1.5px); }
.w #tb-start { fill: none !important, }
.w #tb-end { fill: #e2e2e2 !important; transform: translate(1px, 0); }

.w .tb-tab.active .bg { fill: #0078d7 !important; stroke: #0078d7 !important; }
.w .tb-tab.active text { fill: #fff !important; }

.w .tb-close .o { filter: url(#tb-close-b-w); transform: translate(-3px, 1.5px); }
.w .tb-close rect { x: -4px; y: -4px; width: 20px; height: 20px; rx: 3px; fill: #e08759 !important; stroke: #da4634; stroke-width: 2px; }
.w .tb-close .ico { transform: matrix(0.15, 0, 0, 0.15, 1, 1) !important; }
.w .tb-close .ico use { fill: #fff !important; stroke: #fff; stroke-width: 10px; }
.w .tb-close { filter: url(#tb-close-g-w); opacity: 0.5; }
.w .tb-tab.active .tb-close { filter: none; opacity: 1; }

.w #statusbar { transform: translate(0, 8px); }
.w #sb-bg { height: 48px; }
.w #sb-stroke { height: 34px; }
.w #statusbar text { font-size: 19px !important; transform: translate(-13px, -4.5px); }
.w #statusbar #sbte { transform: translate(18px, -2px); }

.w #sb-stroke, .w #menu-stroke, .w #main-stroke { stroke-width: 2px !important; }
.w #sb-stroke, .w #main-stroke { stroke: #d3d3d3 !important; }

.w .btn-bg, .w .tb-button rect, .w .box-button .bg { rx: 0px !important; fill: #e1e1e1 !important; stroke: #a3a3a3 !important; stroke-width: 1.2px !important; }
.w .btn-bg { filter: none !important; }
/* safari bug: radius undefined :workaround: rx="1" style="rx:0" */
.w .input-bg { rx: 1px !important; stroke: #949494 !important; stroke-width: 1.5px !important; }

.w .find-h-bg { fill: #68c5ff !important; }

.w .btn-txt { font-size: 19.5px !important; }

.w .menu-item .ico use, .w .tree-item .ico use { fill: #505050 !important; }

.w #menu-bg, .w #menu-stroke { height: 94px; }
.w #menu-stroke { stroke: #d2d2d2 !important; }
.w .menu-item { transform: translate(0, -3px); }
.w .menu-item .txt { font-size: 26.5px !important; }
.w .menu-item .divid { height: 45px; transform: translate(7px, 8px); }

.w #w-inner { transform: matrix(1, 0, 0, 1, 0, 37); }

.w #main { transform: matrix(1, 0, 0, 1, 0, -6); }


.w .box-title text { font-size: 19px !important; transform: translate(-2px, 1px); }
.w .box-button { transform: translate(16px, -5px); }

.w #split rect { width: 4px; }
.w #split-end { transform: translate(-4px, 0); }

.w .tree-group .tree-view text { font-size: 19px !important; transform: translate(-5px, 1px); }
.w .tree-group .focused { fill: #ccc !important; }

.w .tree { transform: translate(0, 2px); }
.w .tree-vp { transform: translate(0, 10px); }
.w .tree-cols text { font-size: 18.5px !important; transform: translate(1px, 7px); }
.w .tree-cols .bg { height: 36px; fill: #fff !important; stroke: none !important; stroke-width: 0 !important; clip-path: none !important; }

.w .ruler { width: 3px; height: 37px; fill: #f0f0f0 !important; stroke: #eee !important; transform: translate(0, -4px); clip-path: inset(1px 1px 1px 0); }

.w .tree .focused { fill: #cde8ff !important; }
.w .tree text { fill: #000 !important; }

.w .tree .tree-items { transform: translate(0, 1px); }
.w .tree .tree-items text { font-size: 19.5px !important; transform: translate(-4px, 0); }

.w .tree-search .bg { width: 1329px; height: 50px; }
.w #tree-tool .bg { width: 1329px; }
.w #tree-tool .stroke { width: 1333px; }
.w .tree-search { transform: translate(0, 20px); }
.w .search-item { transform: translate(0, -4px); }

.w #side-tool .bg, .w #side-tool .stroke, .w #tree-tool .bg, .w #tree-tool .stroke { height: 65px; transform: translate(0, 8px); }
.w #side-tool .stroke, .w #tree-tool .stroke { display: none !important; stroke: none !important; }
.w #st-items, .w #tt-items { transform: translate(0, 4px); }
.w .tool-txt { font-size: 21px !important; }

.w .tree-view .arrow-w { fill: #636363; stroke: #636363; stroke-width: 4px; transform: matrix(0.22, 0, 0, 0.22, -3, -12); }
.w .btn-caret .arrow-w { fill: #676767; transform: matrix(0.23, 0, 0, 0.23, 0, 7); }

.w .btn-txt { transform: translate(0, 1px); }
.w .qe-st { transform: translate(12px, 2px); }
.w .qe-tt { transform: translate(20px, 2px); }
.w .qe .btn-bg { width: 110px; height: 32px; }
.w .qe-st .btn-bg { transform: translate(12px, -1px); }
.w .qe-tt .btn-bg { transform: translate(5px, -1px); }
.w .qe .btn-ico use { x: 16px; y: -1px; }
.w .qe text { transform: translate(0, 1px); }
.w .menu-item .btn-bg { width: 100px; height: 32px; transform: translate(5px, -2px); }
.w .menu-item .arrow { transform: translate(-12px, 0); }

.w .sbh .bg, .w .sbv .bg, .w .sbh .btn-bg, .w .sbv .btn-bg, .w .sbh .xy, .w .sbv .xy { display: block !important; }

.w .sbh { clip-path: inset(0 2px 2px 2px); }
.w .sbv { clip-path: inset(2px 2px 2px 0); }
.w .sbh .bg, .w .sbv .bg { fill: #f0f0f0; stroke: #fff !important; stroke-width: 3px !important; }
.w .sbh .btn-bg, .w .sbv .btn-bg { rx: 0; fill: none !important; stroke: none !important; stroke-width: 0 !important; }
.w .sbh .xy, .w .sbv .xy { rx: 0; fill: #cdcdcd !important; }
.w .sbh .btn-bg { width: 26px; height: 23px; transform: translate(0, 1.5px); }
.w .sbv .btn-bg { width: 23px; height: 26px; transform: translate(1.5px, 0); }
.w .sbh .bg { height: 28px; }
.w .sbv .bg { width: 28px; }
.w .sbh .xy { height: 23px; transform: translate(0, 0.5px); }
.w .sbv .xy { width: 23px; transform: translate(0.5px, 0); }

/*.w .sbh .hs { fill: yellow !important; }
.w .sbh .he { fill: green !important; }
.w .sbv .vs { fill: yellow !important; }
.w .sbv .ve { fill: green !important; }*/

.w #tree .sbv { transform: translate(-12px, -2px); }
.w #tree .sbv .bg { height: 422px; }
.w #tree .sbv .vs { y: 646px; }
.w #tree .sbv .ve { y: 1038px; }
.w #tree .sbv .xy { x: 449px; y: 672px; height: 238px; }

.w .tree .sbh { transform: translate(-2px, -11px); }
.w .tree .sbh .bg { width: 1334px; }
.w .tree .sbh .hs { x: 475px; }
.w .tree .sbh .he { x: 1751px; }
.w .tree .sbh .xy { x: 501px; y: 998px; width: 738px; }

.w .tree .sbv { transform: translate(-7px, -3px); }
.w .tree .sbv .bg { height: 674px; }
.w .tree .sbv .vs { y: 343px; }
.w .tree .sbv .ve { y: 963px; }
.w .tree .sbv .xy { x: 1785px; y: 511px; height: 38px; }

.w .sbh .arrow-w use, .w .sbv .arrow-w use { fill: #636363; }
.w .sbh .arrow.as .arrow-w { transform: matrix(0, 0.2, 0.2, 0, 9, 7); }
.w .sbh .arrow.ae .arrow-w { transform: matrix(0, 0.2, -0.2, 0, -2, 7); }
.w .sbv .arrow.as .arrow-w { transform: matrix(0.2, 0, 0, 0.2, 7, 9); }
.w .sbv .arrow.ae .arrow-w { transform: matrix(0.2, 0, 0, -0.2, 7, 20); }
.w .tree .sbv .arrow.ae { transform: matrix(1, 0, 0, 1, 1784, 963); }

.w .menu-item:nth-child(1) { transform: translate(0, -3px); }
.w .menu-item:nth-child(2) { transform: translate(-10px, -3px); }
.w .menu-divid:nth-child(3) { transform: translate(-15px, 0); }
.w .menu-item:nth-child(4) { transform: translate(-20px, -3px); }
.w .menu-item:nth-child(5) { transform: translate(-30px, -3px); }
.w .menu-divid:nth-child(6) { transform: translate(-45px, 0); }
.w .menu-item:nth-child(7) { transform: translate(-50px, -3px); }



.f .divid { width: 4px; height: 44px; fill: #fff !important; stroke: #dfdfdf; stroke-width: 2px; stroke-style: solid; transform: translate(6px, 8px); clip-path: inset(1px 1px 1px 0); }
.f #statusbar .divid { display: none; }
.df .divid { fill: #252323 !important; stroke: #1d1c1c; }


.f { font-family: sans-serif-light, 'Sans-Serif', system-ui, sans-serif !important; }

.f #t-ctrs-m { display: none; }
.f #t-ctrs-l { display: block !important; }

.f #menubar, .f .arrow-l { display: block !important; }
.f #w-shade, .f #split ellipse, .f .arrow-m { display: none !important; }

.f #w-bg, .f #w-stroke, .f #w-shade, .f #t-bg, .f #sb-bg { rx: 0; }

.f .btn-caret .bg { fill: none !important; stroke: none !important; }

.f #w-bg { fill: #f9f9f9 !important; stroke: #acc6c3 !important; }
.f #t-bg { x: 81px; y: 81px; width: 1718px; height: 48px; fill: #fafafa !important; stroke: #e8e8e8 !important; stroke-width: 2px !important; clip-path: inset(1px 1px 0px) !important; }
.f #t-stroke { y: 127px; }

.f #tb-bg, .f #tb-corner .bg, .f #ss-bg { fill: #efefef !important; }
.f #sb-bg, .f #main-bg { fill: #efefef !important; }
.f #menu-bg { fill: #f9f9f9 !important; }
.f #side-tool .bg, .f #tree-tool .bg { fill: #fff !important; }

.f #t-txt { font-family: 'Sans-Serif', system-ui, sans-serif !important; font-size: 19px !important; fill: #5a5a5a !important; transform: translate(0, 1.5px); }

.f #menubar { transform: translate(0, 8px); }
.f #mb-bg { height: 36px; }
.f #mb-txt { font-size: 20px !important; word-spacing: 15px; fill-opacity: 0.75; transform: translate(1px, 1px); }
.f #mb-stroke { fill: #e2e2e2 !important; stroke: #e2e2e2; stroke-width: 1px; transform: translate(0, 3.5px); }

.f #statusbar { transform: translate(0, 5px); }
.f #sb-bg { height: 51px; }
.f #sb-stroke { height: 37px; stroke: none !important; }
.f #statusbar text { font-size: 19.5px !important; transform: translate(-5px, -2px); }
.f #statusbar #sbte { transform: translate(12px, -2px); }
.f #sb-stroke { stroke: #e4e4e4 !important; }

.f #tb-corner .bg { width: 128px; }
.f .tb-button { transform: translate(8px, 0); }
.f .tb-button text { font-size: 18px !important; }
.f #tb-tabs { transform: translate(8px, 0); }

.f .tb-tab .bg { fill: #efefef !important; stroke: #dfdfdf !important; stroke-width: 2px !important; }
.f .tb-tab text { font-size: 19px !important; transform: translate(0, -0.5px); }
.f #tb-end { width: 2px; fill: #dfdfdf !important; }
.f .tb-tab.active .bg { stroke: #308cc6 !important; }
.f .tb-tab.active text { fill: #fff !important; }
.f .focused, .f .tb-tab.active .bg { fill: #308cc6 !important; }

.f .tb-close .o { transform: matrix(0.9, 0, 0, 0.9, -2, 1.5); }
.f .tb-close rect { x: -4.5px; y: -4.5px; width: 22px; height: 22px; rx: 11px; fill: #000 !important; fill-opacity: 0.33; }
.f .tb-close .ico { transform: matrix(0.17, 0, 0, 0.17, 1.2, 1.2) !important; }
.f .tb-close .ico use { fill: #fff !important; }

.f .btn-bg, .f .tb-button rect, .f .box-button .bg { fill: url(#btn-bg-f) !important; }
.f .btn-bg { filter: none !important; }
.f .btn-bg, .f .tb-button rect, .f .box-button .bg, .f .input-bg { rx: 3px !important; stroke: #ababab !important; }
.f .tb-button rect { stroke-width: 1px !important; }

.f .find-h-bg { fill: #68c5ff !important; }

.f .menu-item .ico use, .f .tree-item .ico use { fill: #5c5c5c !important; }

.f #sb-stroke, .f #menu-stroke, .f #side-tool .stroke, .f #tree-tool .stroke { stroke-width: 2px !important; }
.f #main-stroke { stroke-width: 1.5px !important; }
.f #menu-bg, .f #menu-stroke { height: 95px; }
.f #menu-stroke { stroke: #d1d2d2 !important; }
.f .menu-item { transform: translate(0, -2px); }
.f .menu-item .txt { font-size: 25.5px !important; transform: translate(-1.5px, 0); }


.f #w-inner { transform: matrix(1, 0, 0, 1, 0, 42); }

.f #main { transform: matrix(1, 0, 0, 1, 0, -5); }


.f .box-title text { font-size: 19px !important; }
.f .box-button { transform: translate(15px, -2px); }

.f #split rect { width: 4px; }
.f #split-end { transform: translate(-4px, 0); }

.f .tree-items g text { fill: #fff !important; }
.f .tree-group .tree-view text { font-size: 19.5px !important; transform: translate(-2px, 1px); }

.f .tree-cols .bg { fill: url(#btn-bg-f) !important; stroke: #c8c8c8; stroke-width: 2px; clip-path: inset(1px 1px 0); }
.f .tree-cols text { transform: translate(-3px, 2px); }

/*.f .ruler { stroke: #000 !important; stroke-opacity: 0.75; transform: translate(0, -1px); }*/
.f .ruler { width: 3px; height: 26px; fill: #ddd !important; stroke: #cdcdcd !important; transform: translate(-2px, -3px); clip-path: inset(1px 1px 1px 0); }

.f .tree .tree-items { transform: translate(0, -1px); }
.f .tree .tree-items text { font-size: 20px !important; transform: translate(-4px, 0); }

.f .tree-search .bg { width: 1329px; height: 50px; }
.f #tree-tool .bg { width: 1329px; }
.f #tree-tool .stroke { width: 1333px; }
.f .tree-search { transform: translate(0, 20px); }
.f .search-item { transform: translate(0, -4px); }

.f #side-tool .bg, .f #side-tool .stroke, .f #tree-tool .bg, .f #tree-tool .stroke { height: 65px; transform: translate(0, 8px); }
.f #st-items, .f #tt-items { transform: translate(0, 4px); }
.f .tool-txt { font-size: 20.5px !important; }

.f .tree-view .arrow-l { fill: #636363; transform: matrix(0.22, 0, 0, 0.22, -2, -11); }
.f .btn-caret .arrow-l { fill: #676767; transform: matrix(0.23, 0, 0, 0.23, 0, 5); }

.f .qe-st { transform: translate(20px, 2px); }
.f .qe-tt { transform: translate(30px, 2px); }
.f .qe .btn-bg { width: 100px; height: 34px; }
.f .qe-st .btn-bg { transform: translate(15px, -1px); }
.f .qe-tt .btn-bg { transform: translate(10px, -1px); }
.f .qe .btn-ico use { x: 15px; }
.f .menu-item .btn-bg, .f .search-item .btn-bg { width: 100px; height: 34px; transform: translate(5px, -2px); }
.f .menu-item .arrow, .f .search-item .arrow { transform: translate(-12px, 0); }

.f .sbh .bg, .f .sbv .bg, .f .sbh .btn-bg, .f .sbv .btn-bg, .f .sbh .xy, .f .sbv .xy { display: block !important; }

.f .sbh { clip-path: inset(0 0 1px 1px); }
.f .sbv { clip-path: inset(1px 1px 0 0); }
.f .sbh .bg, .f .sbv .bg { fill: #e6e6e6; stroke: #bcbcbc !important; stroke-width: 2px; }
.f .sbh .btn-bg, .f .sbv .btn-bg, .f .sbh .xy, .f .sbv .xy { rx: 0 !important; fill: url(#btn-bg-f) !important; stroke: #ababab !important; stroke-width: 1px; }

.f .sbh .btn-bg { width: 22px; height: 22px; transform: translate(-1.5px, 0.5px); }
.f .sbv .btn-bg { width: 22px; height: 22px; transform: translate(0.5px, -1.5px); }
.f .sbh .bg { height: 23px; }
.f .sbv .bg { width: 23px; }
.f .sbh .xy { height: 22px; transform: translate(0, 0.5px); }
.f .sbv .xy { width: 22px; transform: translate(0.5px, 0); }

.f #tree .sbv { transform: translate(-8px, -1px); }
.f #tree .sbv .bg { height: 419px; }
.f #tree .sbv .vs { y: 646px; }
.f #tree .sbv .ve { y: 1042px; }
.f #tree .sbv .xy { x: 448px; y: 667px; height: 333px; }

.f .tree .sbh { transform: translate(0, -7.5px); }
.f .tree .sbh .bg { width: 1308px; }
.f .tree .sbh .hs { x: 475px; }
.f .tree .sbh .he { x: 1760px; }
.f .tree .sbh .xy { x: 496px; y: 997px; width: 900px; }

.f .tree .sbv { transform: translate(-4px, -1px); }
.f .tree .sbv .bg { height: 650.5px; }
.f .tree .sbv .vs { y: 343px; }
.f .tree .sbv .ve { y: 970.5px; }
.f .tree .sbv .xy { x: 1784px; y: 511px; height: 70px; }

.f .sbh .arrow-l use, .f .sbv .arrow-l use { fill: #5c5c5c; }
.f .sbh .arrow.as .arrow-l { transform: matrix(0, 0.22, -0.22, 0, 17.5, 4.3); }
.f .sbh .arrow.ae .arrow-l { transform: matrix(0, 0.22, 0.22, 0, -13.5, 4.3); }
.f .sbv .arrow.as .arrow-l { transform: matrix(0.22, 0, 0, -0.22, 4.3, 18.5); }
.f .sbv .arrow.ae .arrow-l { transform: matrix(0.22, 0, 0, 0.22, 4.3, 6); }
.f .tree .sbv .arrow.ae { transform: matrix(1, 0, 0, 1, 1784, 968); }

.f .menu-item:nth-child(1) { transform: translate(0, -2px); }
.f .menu-item:nth-child(2) { transform: translate(-10px, -2px); }
.f .menu-divid:nth-child(3) { transform: translate(-20px, 0); }
.f .menu-item:nth-child(4) { transform: translate(-20px, -2px); }
.f .menu-item:nth-child(5) { transform: translate(-30px, -2px); }
.f .menu-divid:nth-child(6) { transform: translate(-50px, 0); }
.f .menu-item:nth-child(7) { transform: translate(-50px, -2px); }


.df #t-ctrs-l rect { stroke: #fdfdfd !important; }
.df #t-ctrs-l g g rect { stroke-width: 1.3px !important; }

.df text { fill: #fff !important; }
.df #t-txt { fill: #aaa !important; }

.df #w-bg { fill: #171717 !important; stroke: #acc6c3 !important; }
.df #t-bg { fill: #3a3a3a !important; stroke: #131312 !important; }

.df #mb-txt { fill-opacity: 0.9; }

.df #mb-bg, .df #sb-bg, .df #main-bg, .df #tb-bg, .df #tb-corner .bg, .df #ss-bg { fill: #222020 !important; }
.df #menu-bg { fill: #171717 !important; }

.df .tree-vp .bg { fill: #131312 !important; }

.df #side-tool .bg, .df #tree-tool .bg { fill: #3d3d3d !important; }
.df .ts-bg { fill: #0c0b0b !important; }

.df .tb-close rect { fill: #aaa !important; fill-opacity: 0.44; }

.df .btn-bg, .df .tb-button rect, .df .box-button .bg { fill: url(#btn-bg-d-f) !important; stroke: url(#btn-stroke-d-f) !important; }
.df .btn-bg, .df .tb-button rect, .df .box-button .bg { filter: url(#btn-shadow-d-f) !important; }
.df .input-bg { fill: #131312 !important; stroke: #4e4d4d !important; }

.df .tree-cols .bg { fill: url(#btn-bg-d-f) !important; stroke: #4e4d4d; }
.df .ruler { width: 3px; fill: #4e4d4d !important; stroke: #171717 !important; transform: translate(-3px, -3px); clip-path: inset(1px 0 1px 1px); }

.df .find-bg { fill: #2a2a29 !important; }
.df .find-h-bg { fill: #0d4867 !important; stroke: #2a2a29 !important; }

.df #t-stroke { stroke: #222020 !important; }
.df #mb-stroke, .df #sb-stroke { stroke: #1d1c1c !important; }
.df #menu-stroke { stroke: #fff !important; stroke-opacity: 0.09 !important; }
.df #main-stroke { stroke: #fff !important; stroke-opacity: 0.05 !important; }
.df #side-tool .stroke, .df #tree-tool .stroke { stroke: #4e4d4d !important; }

.df .tb-button .ico use { fill: #c3c3c3 !important; }
.df .tb-tab .tb-ico use { fill: #fff !important; }
.df .menu-item .ico use { fill: #c4c4c4 !important; }
.df #split-start .ico use { fill: #c4c4c4 !important; }
.df #split-end .ico use { fill: #c4c4c4 !important; }

.df .tb-tab .bg { fill: #2a2a29 !important; stroke: #363636 !important; }
.df .tb-tab.active .bg, .df #tb-start { stroke: #12608a !important; }
.df .focused, .df .tb-tab.active .bg  { fill: #12608a !important; }
.df #tb-end { fill: #333 !important; }

.df .tree-view .arrow-l { fill: #adacac; }
.df .btn-caret .arrow-l { fill: #b5b5b4; }

.df .sbh .btn-bg, .df .sbv .btn-bg, .df .sbh .xy, .df .sbv .xy { fill: url(#btn-bg-d-f) !important; stroke: url(#btn-stroke-d-f) !important; }
.df .sbh .bg, .df .sbv .bg { fill: #1d1c1c; stroke: url(#btn-stroke-d-f) !important; }
.df .sbh .xy, .df .sbv .xy { fill-opacity: 0.7; stroke-opacity: 0.75; }
.df .sbh .arrow-l use, .df .sbv .arrow-l use { fill: #d3d2d2; }

.df .sbh, .df .sbv { filter: url(#btn-shadow-d-f); }
.df .sbh { clip-path: inset(-1px 0 0 0) !important; }
.df .sbv { clip-path: inset(0 0 0 -2px) !important; }
.df .sbh .bg { clip-path: inset(0 0 1px 0);}
.df .sbv .bg { clip-path: inset(0 1px 0 0); }

.df #tree .sbv { /*transform: translate(-9px, -1.5px);*/ transform: matrix(0.997, 0, 0, 0.997, -7.5, 0); }
.df .tree .sbh { /*transform: translate(0, -7.5px);*/ transform: matrix(0.997, 0, 0, 0.997, 2, -4.5); }
.df .tree .sbv { /*transform: translate(-5px, -1.5px);*/ transform: matrix(0.997, 0, 0, 0.997, -0.5, 0.5); }
.df .sbh .xy { transform: translate(2.5px, 0.5px); }
.df .sbv .xy { transform: translate(0.5px, 2.5px); }



#test text { font-family: sans-serif; font-weight: bold; text-decoration: underline; cursor: pointer; }
