/* scss/_dark.scss */

@use "sass:color";
@use "util";

$variant-name: 'dark';

$color: #fff;
$background: #101010;

$loading-animation-opacity-0: .77; 
$loading-animation-opacity-100: .89;


// table

$table-border-color: #383838;
$th-background: #1a1a1a;

$tr-href-background: #141414;
$tr-href-background-hover: #1e1e1e;
$tr-href-background-focus: #023;
$tr-background-highlight: #034;


// form

$input-color: #fff;
$input-background: #141414;
$input-border-color: #3a3a3a;
$input-shadow-color: transparent;
$input-shadow-color-hover: rgba(80, 80, 80, .7);
$input-shadow-color-focus: rgba(50, 50, 50, .5);


// buttons

$button-color: #fff;
$button-background: #1e1e1e;
$button-shadow-color: transparent;
$button-shadow-color-hover: rgba(150, 150, 150, .4);
$button-shadow-color-focus: rgba(0, 0, 0, 1);

$button-primary-color: #fff;
$button-primary-background: util.color-hex-str(color.adjust(dodgerblue, $lightness: -8%));

$button-secondary-color: #fff;
$button-secondary-background: util.color-hex-str(color.adjust(dimgray, $lightness: -19%));
