/* scss/_light.scss */

@use "sass:color";
@use "sass:string";
@use "util";

$variant-name: 'light';

$color: #000;
$background: #fcfcfc;

$loading-animation-opacity-0: .33; 
$loading-animation-opacity-100: .89;


// table

$table-border-color: #aaa;
$th-background: #fff;

$tr-href-background: #f9f9f9;
$tr-href-background-hover: #fff;
$tr-href-background-focus: #cef;
$tr-background-highlight: #dff;


// form

$input-color: #000;
$input-background: #fff;
$input-border-color: #505050;
$input-shadow-color: string.unquote("transparent");
$input-shadow-color-hover: rgba(0, 0, 0, .2);
$input-shadow-color-focus: rgba(0, 0, 0, .15);


// buttons

$button-color: #4b4b4b;
$button-background: #fff;
$button-shadow-color: string.unquote("transparent");
$button-shadow-color-hover: rgba(0, 0, 0, .25);
$button-shadow-color-focus: rgba(0, 0, 0, .2);

$button-primary-color: #fff;
$button-primary-background: util.color-hex-str(color.adjust(dodgerblue, $lightness: 2%));

$button-secondary-color: #fff;
$button-secondary-background: util.color-hex-str(color.adjust(dimgray, $lightness: -6%));
