/* scss/_table.scss */

table {
  border-collapse: collapse;
  &[data-sortable] th { padding: 0; }
}
th {
  background: $th-background;
  font-weight: normal;
  text-align: start;
}
th,
td {
  padding: 1rem;
  border: 0 solid $table-border-color;
  border-width: 1px 0;
  font-size: .8rem;
}
td {
  transition: background ease .1s;
}

tbody tr {
  &[data-href] { background: $tr-href-background; cursor: pointer; }
  &[data-href]:hover td { background: $tr-href-background-hover; }
  &[data-href]:focus td { background: $tr-href-background-focus; }
  &.highlight { background: $tr-background-highlight; }
}

thead button {
  position: relative;
  width: 100%;
  padding: 1rem;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  background: inherit;
  //TODO FIX dark
  box-shadow: inset 0 0 0 .09rem $button-shadow-color;
  &:hover { box-shadow: inset 0 0 .03rem .09rem $button-shadow-color-hover; }
  &:focus { box-shadow: inset 0 0 0 .09rem $button-shadow-color-focus; }
}
th[data-sort-column] button:after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  margin-inline-end: 3px;
  border: 6px solid transparent;
}
th[data-sort-column="0"] button:after {
  margin-top: 0;
  border-top-color: transparent;
  border-bottom-color: currentColor;
}
th[data-sort-column="1"] button:after {
  border-top-color: currentColor;
}

.table {
  position: relative;
  display: block;
  margin: 0 -.5rem;
  border: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  > table { width: 100%; }
}

@media (min-width: 992px) {
  .table {
    margin: 0;
  }
}
