/* site/_util.scss */

@use "sass:math";
@use "sass:color";

@function color-hex-str($color) {
	$r: color.channel($color, "red", $space: rgb);
	$g: color.channel($color, "green", $space: rgb);
	$b: color.channel($color, "blue", $space: rgb);

	$r: math.round($r);
	$g: math.round($g);
	$b: math.round($b);

	@return color.scale(rgb($r, $g, $b));
}
